openapi: 3.2.0
info:
  title: TikTok API for Business — Marketing Ad API
  description: TikTok API for Business (Marketing API) v1.3. This document is a mechanical union of the 202 per-operation OpenAPI 3.0.1 documents TikTok publishes in yml_files/ of its own SDK repository (https://github.com/tiktok/tiktok-business-api-sdk), which are the swagger-codegen inputs for TikTok's first-party Java/Python/JavaScript SDKs. Operation content (paths, parameters, responses, tags and the x-open-* extensions) is preserved verbatim; only info, servers and components.securitySchemes were written by API Evangelist, because the per-operation fragments carry placeholder info blocks and no servers block. The servers values are the production and sandbox base URLs TikTok documents at https://business-api.tiktok.com/portal/docs?id=1738855331457026 .
  version: v1.3
  contact:
    name: TikTok API for Business support
    url: https://business-api.tiktok.com/portal/docs?id=1795190020378625
  termsOfService: https://business-api.tiktok.com/portal/docs?id=1737191804348417
  x-source: https://github.com/tiktok/tiktok-business-api-sdk/tree/main/yml_files
  x-harvested-by: API Evangelist enrichment pipeline
  x-harvested: '2026-08-13'
servers:
- url: https://business-api.tiktok.com/open_api/v1.3
  description: Production
- url: https://sandbox-ads.tiktok.com/open_api/v1.3
  description: Sandbox
security:
- AccessToken: []
tags:
- name: Ad
paths:
  /smart_plus/ad/appeal/:
    post:
      operationId: Smart_plus Ad Appeal
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.advertiser_id
                appeal_reason:
                  description: ''
                  maxLength: 512
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.appeal_reason
                attachment_list:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.attachment_list
                smart_plus_ad_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.creative_id
              required:
              - advertiser_id
              - smart_plus_ad_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Submit ad appeal [Smart Plus Ad Appeal]
      tags:
      - Ad
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: creative_id
            required: true
            source: $.http.body.smart_plus_ad_id
            type: number
          - name: appeal_reason
            required: false
            source: $.http.body.appeal_reason
            type: string
          - children:
            - type: string
            name: attachment_list
            required: false
            source: $.http.body.attachment_list
            sub_type: string
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.body.advertiser_id
          appeal_reason: $.http.body.appeal_reason
          attachment_list: $.http.body.attachment_list
          creative_id: $.http.body.smart_plus_ad_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /smart_plus/ad/create/:
    post:
      operationId: Smart_plus Ad Create
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ad_configuration:
                  description: ''
                  properties:
                    auto_disclaimer_types:
                      description: ''
                      items:
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1827620303506497
                          enum_package_name: AutoDisclaimerType
                          enums:
                          - description: 汽车折扣
                            is_valid: true
                            key: DISCOUNT
                            value: '2'
                          - description: 汽车排放
                            is_valid: true
                            key: EMISSION
                            value: '1'
                          key_format: string
                          strict: true
                          use_part: false
                          validate_only: false
                          value_format: int32
                      type: array
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 11
                    call_to_action_id:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-convert:
                      - int64(%s)
                      x-open-field-id: 8
                      x-open-source: $.http.body.common_material.call_to_action_id
                    catalog_creative_toggle:
                      description: ''
                      type: boolean
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 6
                      x-open-source: $.http.body.common_material.catalog_creative_toggle
                    dark_post_status:
                      default: 'OFF'
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1843735142813698
                        enum_package_name: DarkPostStatus
                        enums:
                        - description: ''
                          is_valid: true
                          key: 'OFF'
                          value: '2'
                        - description: ''
                          is_valid: true
                          key: 'ON'
                          value: '1'
                        - description: ''
                          is_valid: false
                          key: Partly
                          value: '3'
                        key_format: string
                        strict: true
                        use_part: true
                        validate_only: false
                        value_format: int32
                      x-open-field-id: 15
                    end_card_cta:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1824616467253313
                        enum_package_name: EndCardCTA
                        enums:
                        - description: ''
                          is_valid: true
                          key: BOOK_NOW
                          value: book_now
                        - description: ''
                          is_valid: true
                          key: CONTACT_US
                          value: contact_us
                        - description: ''
                          is_valid: true
                          key: LEARN_MORE
                          value: learn_more
                        - description: ''
                          is_valid: true
                          key: ORDER_NOW
                          value: order_now
                        - description: ''
                          is_valid: true
                          key: READ_MORE
                          value: read_more
                        - description: ''
                          is_valid: true
                          key: SEARCH_INVENTORY
                          value: search_inventory
                        - description: ''
                          is_valid: true
                          key: SHOP_NOW
                          value: shop_now
                        - description: ''
                          is_valid: true
                          key: SIGN_UP
                          value: sign_up
                        - description: ''
                          is_valid: true
                          key: VIEW_MORE
                          value: cta_view_more
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: false
                        value_format: string
                      x-open-field-id: 9
                    fallback_type:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1810699520231426
                        enum_package_name: FallbackType
                        enums:
                        - description: ''
                          is_valid: true
                          key: APP_INSTALL
                          value: '1'
                        - description: ''
                          is_valid: true
                          key: UNSET
                          value: '0'
                        - description: ''
                          is_valid: true
                          key: WEBSITE
                          value: '2'
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: false
                        value_format: int32
                      x-open-field-id: 14
                    identity_id:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 2
                      x-open-source: $.http.body.common_material.identity_id
                    identity_type:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1800331041544193
                        enum_package_name: IdentityType
                        enums:
                        - description: ''
                          is_valid: false
                          key: AUTH_CODE
                          value: '2'
                        - description: ''
                          is_valid: false
                          key: BC_AUTH_TT
                          value: '5'
                        - description: ''
                          is_valid: false
                          key: BC_SELF_TT
                          value: '4'
                        - description: ''
                          is_valid: true
                          key: CUSTOMIZED_USER
                          value: '1'
                        - description: TTS 授权来源TT账号
                          is_valid: false
                          key: TTS_TT
                          value: '8'
                        - description: ''
                          is_valid: false
                          key: TT_USER
                          value: '3'
                        - description: ''
                          is_valid: false
                          key: UNSET
                          value: '0'
                        key_format: string
                        strict: true
                        use_part: true
                        validate_only: false
                        value_format: int32
                      x-open-field-id: 1
                      x-open-source: $.http.body.common_material.identity_type
                    phone_info:
                      description: ''
                      properties:
                        phone_number:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 1
                        phone_region_calling_code:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 2
                        phone_region_code:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 3
                      type: object
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 13
                    product_display_field_list:
                      description: ''
                      items:
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1824616319490050
                          enum_package_name: ProductDisplayField
                          enums:
                          - description: dealer所处的城市
                            is_valid: true
                            key: ADDRESS_CITY
                            value: '10'
                          - description: ''
                            is_valid: false
                            key: AREA_SIZE
                            value: '14'
                          - description: dealer名称
                            is_valid: true
                            key: DEALER_NAME
                            value: '1'
                          - description: ''
                            is_valid: false
                            key: ESTATE_PRICE
                            value: '17'
                          - description: 外表颜色
                            is_valid: true
                            key: EXTERIOR_COLOR
                            value: '8'
                          - description: 品牌
                            is_valid: true
                            key: MAKE
                            value: '2'
                          - description: 已跑公里数
                            is_valid: true
                            key: MILEAGE
                            value: '5'
                          - description: 型号
                            is_valid: true
                            key: MODEL
                            value: '3'
                          - description: ''
                            is_valid: false
                            key: NUM_BED_AND_BATH
                            value: '18'
                          - description: 价格
                            is_valid: true
                            key: PRICE
                            value: '6'
                          - description: ''
                            is_valid: false
                            key: PROPERTY_TYPE
                            value: '15'
                          - description: ''
                            is_valid: false
                            key: REAL_ESTATE_TITLE
                            value: '19'
                          - description: 折扣价格
                            is_valid: true
                            key: SALE_PRICE
                            value: '7'
                          - description: 汽车配置
                            is_valid: true
                            key: TRIM
                            value: '9'
                          - description: 汽车状态
                            is_valid: true
                            key: VEHICLE_STATE
                            value: '11'
                          - description: 上市年份
                            is_valid: true
                            key: YEAR
                            value: '4'
                          - description: ''
                            is_valid: false
                            key: YEAR_BUILT
                            value: '16'
                          key_format: string
                          strict: true
                          use_part: true
                          validate_only: false
                          value_format: int32
                      type: array
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 10
                    product_ids:
                      description: ''
                      items:
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-convert:
                        - int64(%s)
                      type: array
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 5
                      x-open-source: $.http.body.common_material.product_ids
                    product_set_id:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-convert:
                      - int64(%s)
                      x-open-field-id: 4
                      x-open-source: $.http.body.common_material.product_set_id
                    product_specific_type:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1807533365234690
                        enum_package_name: ProductSpecificType
                        enums:
                        - description: ''
                          is_valid: true
                          key: ALL
                          value: '1'
                        - description: ''
                          is_valid: true
                          key: CUSTOMIZED_PRODUCTS
                          value: '3'
                        - description: ''
                          is_valid: true
                          key: PRODUCT_SET
                          value: '2'
                        - description: ''
                          is_valid: false
                          key: UNSET
                          value: '0'
                        key_format: string
                        strict: true
                        use_part: true
                        validate_only: false
                        value_format: int32
                      x-open-field-id: 3
                      x-open-source: $.http.body.common_material.product_specific_type
                    tracking_info:
                      description: ''
                      properties:
                        click_tracking_url:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 2
                          x-open-source: $.http.body.common_material.tracking_info.action_track_url
                        impression_tracking_url:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 1
                          x-open-source: $.http.body.common_material.tracking_info.track_url
                        tracking_app_id:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-convert:
                          - int64(%s)
                          x-open-field-id: 3
                          x-open-source: $.http.body.common_material.tracking_info.tracking_app_id
                        tracking_message_event_set_id:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-convert:
                          - int64(%s)
                          x-open-field-id: 4
                      type: object
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 12
                      x-open-source: $.http.body.common_material.tracking_info
                    utm_params:
                      description: ''
                      items:
                        properties:
                          key:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 1
                            x-open-source: $.http.body.common_material.utms[].field
                          value:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 2
                            x-open-source: $.http.body.common_material.utms[].value
                        type: object
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                      maxItems: 14
                      type: array
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 7
                      x-open-source: $.http.body.common_material.utms
                  type: object
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 13
                  x-open-source: $.http.body.common_material
                ad_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.ad_name
                ad_text_list:
                  description: ''
                  items:
                    properties:
                      ad_text:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.title_list[].title
                    required:
                    - ad_text
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 5
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 6
                  x-open-source: $.http.body.title_list
                adgroup_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.adgroup_id
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.advertiser_id
                auto_message_list:
                  description: ''
                  items:
                    properties:
                      auto_message_id:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-convert:
                        - int64(%s)
                        x-open-field-id: 1
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 12
                call_to_action_list:
                  description: ''
                  items:
                    properties:
                      call_to_action:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1807533165224961
                          enum_package_name: CallToAction
                          enums:
                          - description: ''
                            is_valid: true
                            key: APPLY_NOW
                            value: apply_now
                          - description: ''
                            is_valid: true
                            key: BOOK_NOW
                            value: book_now
                          - description: ''
                            is_valid: true
                            key: CALL_NOW
                            value: call_to_action_call
                          - description: ''
                            is_valid: true
                            key: CHECK_AVAILABILITY
                            value: cta_check_availability
                          - description: ''
                            is_valid: true
                            key: CONTACT_US
                            value: contact_us
                          - description: ''
                            is_valid: true
                            key: DOWNLOAD_NOW
                            value: download_now
                          - description: ''
                            is_valid: true
                            key: EXPERIENCE_NOW
                            value: experience_now
                          - description: ''
                            is_valid: true
                            key: GET_QUOTE
                            value: get_quote
                          - description: ''
                            is_valid: true
                            key: GET_SHOWTIMES
                            value: get_showtimes
                          - description: ''
                            is_valid: true
                            key: GET_TICKETS_NOW
                            value: get_tickets_now
                          - description: ''
                            is_valid: true
                            key: INSTALL_NOW
                            value: install_now
                          - description: ''
                            is_valid: true
                            key: INTERESTED
                            value: interested
                          - description: ''
                            is_valid: true
                            key: JOIN_THIS_HASHTAG
                            value: join_this_hashtag
                          - description: ''
                            is_valid: true
                            key: LEARN_MORE
                            value: learn_more
                          - description: ''
                            is_valid: true
                            key: LISTEN_NOW
                            value: listen_now
                          - description: ''
                            is_valid: true
                            key: ORDER_NOW
                            value: order_now
                          - description: ''
                            is_valid: true
                            key: PLAY_GAME
                            value: play_game_cta
                          - description: ''
                            is_valid: true
                            key: PREORDER_NOW
                            value: preorder_now
                          - description: ''
                            is_valid: true
                            key: READ_MORE
                            value: read_more
                          - description: ''
                            is_valid: true
                            key: SEND_MESSAGE
                            value: Promote_more_messages_send_message
                          - description: ''
                            is_valid: true
                            key: SHOOT_WITH_THIS_EFFECT
                            value: shoot_with_this_effect
                          - description: ''
                            is_valid: true
                            key: SHOP_NOW
                            value: shop_now
                          - description: ''
                            is_valid: true
                            key: SIGN_UP
                            value: sign_up
                          - description: ''
                            is_valid: true
                            key: SUBSCRIBE
                            value: subscribe
                          - description: ''
                            is_valid: true
                            key: VIEW_NOW
                            value: view_now
                          - description: ''
                            is_valid: true
                            key: VIEW_PROFILE
                            value: view_profile
                          - description: ''
                            is_valid: true
                            key: VIEW_VIDEO_WITH_THIS_EFFECT
                            value: view_video_with_this_effect
                          - description: ''
                            is_valid: true
                            key: VISIT_STORE
                            value: visit_store
                          - description: ''
                            is_valid: true
                            key: WATCH_LIVE
                            value: watch_live
                          - description: ''
                            is_valid: true
                            key: WATCH_NOW
                            value: watch_now
                          key_format: string
                          strict: true
                          use_part: false
                          validate_only: false
                          value_format: string
                        x-open-field-id: 1
                        x-open-source: $.http.body.call_to_action_list[].call_to_action
                    required:
                    - call_to_action
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 3
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 11
                  x-open-source: $.http.body.call_to_action_list
                creative_list:
                  description: ''
                  items:
                    properties:
                      creative_info:
                        description: ''
                        properties:
                          ad_format:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-enum:
                              enum_package_expired: false
                              enum_package_id: 1818582044296193
                              enum_package_name: AdFormat
                              enums:
                              - description: ''
                                is_valid: false
                                key: CAROUSEL
                                value: '2'
                              - description: ''
                                is_valid: true
                                key: CAROUSEL_ADS
                                value: '4'
                              - description: ''
                                is_valid: true
                                key: CATALOG_CAROUSEL
                                value: '5'
                              - description: ''
                                is_valid: false
                                key: LIVE_CONTENT
                                value: '3'
                              - description: ''
                                is_valid: false
                                key: SINGLE_IMAGE
                                value: '0'
                              - description: ''
                                is_valid: true
                                key: SINGLE_VIDEO
                                value: '1'
                              key_format: string
                              strict: true
                              use_part: true
                              validate_only: false
                              value_format: int32
                            x-open-field-id: 9
                          aigc_disclosure_type:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-enum:
                              enum_package_expired: false
                              enum_package_id: 1807533197774914
                              enum_package_name: AigcDisclosureType
                              enums:
                              - description: ''
                                is_valid: true
                                key: NOT_DECLARED
                                value: '1'
                              - description: ''
                                is_valid: true
                                key: SELF_DISCLOSURE
                                value: '2'
                              - description: ''
                                is_valid: true
                                key: UNSET
                                value: '0'
                              key_format: string
                              strict: true
                              use_part: false
                              validate_only: false
                              value_format: int32
                            x-open-field-id: 8
                            x-open-source: $.http.body.media_info_list[].media_info.aigc_disclosure_type
                          identity_authorized_bc_id:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-convert:
                            - int64(%s)
                            x-open-field-id: 7
                            x-open-source: $.http.body.media_info_list[].media_info.identity_bc_id
                          identity_id:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 4
                            x-open-source: $.http.body.media_info_list[].media_info.identity_id
                          identity_type:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-enum:
                              enum_package_expired: false
                              enum_package_id: 1800331041544193
                              enum_package_name: IdentityType
                              enums:
                              - description: ''
                                is_valid: true
                                key: AUTH_CODE
                                value: '2'
                              - description: ''
                                is_valid: true
                                key: BC_AUTH_TT
                                value: '5'
                              - description: ''
                                is_valid: false
                                key: BC_SELF_TT
                                value: '4'
                              - description: ''
                                is_valid: true
                                key: CUSTOMIZED_USER
                                value: '1'
                              - description: TTS 授权来源TT账号
                                is_valid: false
                                key: TTS_TT
                                value: '8'
                              - description: ''
                                is_valid: true
                                key: TT_USER
                                value: '3'
                              - description: ''
                                is_valid: false
                                key: UNSET
                                value: '0'
                              key_format: string
                              strict: true
                              use_part: true
                              validate_only: false
                              value_format: int32
                            x-open-field-id: 5
                            x-open-source: $.http.body.media_info_list[].media_info.identity_type
                          image_info:
                            description: ''
                            items:
                              properties:
                                web_uri:
                                  description: ''
                                  type: string
                                  x-open-allow-strlist: false
                                  x-open-allow-strnum: false
                                  x-open-field-id: 1
                                  x-open-source: $.http.body.media_info_list[].media_info.image_info[].web_uri
                              required:
                              - web_uri
                              type: object
                              x-open-allow-strlist: false
                              x-open-allow-strnum: false
                            maxItems: 35
                            type: array
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 1
                            x-open-source: $.http.body.media_info_list[].media_info.image_info
                          music_info:
                            description: ''
                            properties:
                              music_id:
                                description: ''
                                type: string
                                x-open-allow-strlist: false
                                x-open-allow-strnum: false
                                x-open-convert:
                                - int64(%s)
                                x-open-field-id: 1
                                x-open-source: $.http.body.media_info_list[].media_info.music_info.music_id
                            required:
                            - music_id
                            type: object
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 6
                            x-open-source: $.http.body.media_info_list[].media_info.music_info
                          tiktok_item_id:
                            description: ''
                            type: string
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-convert:
                            - int64(%s)
                            x-open-field-id: 3
                            x-open-source: $.http.body.media_info_list[].media_info.aweme_item_id
                          video_info:
                            description: ''
                            properties:
                              file_name:
                                description: ''
                                type: string
                                x-open-allow-strlist: false
                                x-open-allow-strnum: false
                                x-open-field-id: 2
                                x-open-source: $.http.body.media_info_list[].media_info.video_info.file_name
                              video_id:
                                description: ''
                                type: string
                                x-open-allow-strlist: false
                                x-open-allow-strnum: false
                                x-open-field-id: 1
                                x-open-source: $.http.body.media_info_list[].media_info.video_info.video_id
                            required:
                            - video_id
                            type: object
                            x-open-allow-strlist: false
                            x-open-allow-strnum: false
                            x-open-field-id: 2
                            x-open-source: $.http.body.media_info_list[].media_info.video_info
                        required:
                        - ad_format
                        type: object
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.media_info_list[].media_info
                    required:
                    - creative_info
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 31
                  minItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.body.media_info_list
                deeplink_list:
                  description: ''
                  items:
                    properties:
                      deeplink:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.open_url_list[].open_url
                      deeplink_type:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1810700429234178
                          enum_package_name: DeeplinkType
                          enums:
                          - description: ''
                            is_valid: true
                            key: DEFERRED_DEEPLINK
                            value: '2'
                          - description: ''
                            is_valid: true
                            key: NORMAL
                            value: '0'
                          key_format: string
                          strict: true
                          use_part: false
                          validate_only: false
                          value_format: int32
                        x-open-field-id: 2
                        x-open-source: $.http.body.open_url_list[].auto_open
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 10
                  x-open-source: $.http.body.open_url_list
                interactive_add_on_list:
                  description: ''
                  items:
                    properties:
                      card_id:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-convert:
                        - int64(%s)
                        x-open-field-id: 1
                        x-open-source: $.http.body.card_list[].card_id
                    required:
                    - card_id
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 8
                  x-open-source: $.http.body.card_list
                landing_page_url_list:
                  description: ''
                  items:
                    properties:
                      landing_page_url:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.external_url_list[].external_url
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 9
                  x-open-source: $.http.body.external_url_list
                operation_status:
                  default: ENABLE
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1804192764187649
                    enum_package_name: OptStatus
                    enums:
                    - description: 暂停
                      is_valid: true
                      key: DISABLE
                      value: '1'
                    - description: 启用
                      is_valid: true
                      key: ENABLE
                      value: '0'
                    - description: 终止,不能再次被启用
                      is_valid: false
                      key: FROZEN
                      value: '2'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 4
                  x-open-source: $.http.body.opt_status
                page_list:
                  description: ''
                  items:
                    properties:
                      page_id:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-convert:
                        - int64(%s)
                        x-open-field-id: 1
                        x-open-source: $.http.body.page_list[].page_id
                    required:
                    - page_id
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 3
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                  x-open-source: $.http.body.page_list
              required:
              - advertiser_id
              - adgroup_id
              - ad_name
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Create a new ad [Smart Plus Ad Create]
      tags:
      - Ad
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: adgroup_id
            required: false
            source: $.http.body.adgroup_id
            type: number
          - name: ad_name
            required: false
            source: $.http.body.ad_name
            type: string
          - name: opt_status
            required: false
            source: $.http.body.operation_status
            type: number
          - children:
            - children:
              - children:
                - children:
                  - children:
                    - name: web_uri
                      required: true
                      source: $.http.body.creative_list[].creative_info.image_info[].web_uri
                      type: string
                    is_expand: true
                    type: object
                  is_expand: true
                  name: image_info
                  required: false
                  sub_type: object
                  type: array
                - children:
                  - name: video_id
                    required: true
                    source: $.http.body.creative_list[].creative_info.video_info.video_id
                    type: string
                  - name: file_name
                    required: false
                    source: $.http.body.creative_list[].creative_info.video_info.file_name
                    type: string
                  is_expand: true
                  name: video_info
                  required: false
                  type: object
                - name: aweme_item_id
                  required: false
                  source: $.http.body.creative_list[].creative_info.tiktok_item_id
                  type: number
                - name: identity_id
                  required: false
                  source: $.http.body.creative_list[].creative_info.identity_id
                  type: string
                - name: identity_type
                  required: false
                  source: $.http.body.creative_list[].creative_info.identity_type
                  type: number
                - children:
                  - name: music_id
                    required: true
                    source: $.http.body.creative_list[].creative_info.music_info.music_id
                    type: number
                  is_expand: true
                  name: music_info
                  required: false
                  type: object
                - name: identity_bc_id
                  required: false
                  source: $.http.body.creative_list[].creative_info.identity_authorized_bc_id
                  type: number
                - name: aigc_disclosure_type
                  required: false
                  source: $.http.body.creative_list[].creative_info.aigc_disclosure_type
                  type: number
                - name: ad_format
                  required: true
                  source: $.http.body.creative_list[].creative_info.ad_format
                  type: number
                is_expand: true
                name: media_info
                required: true
                type: object
              is_expand: true
              type: object
            is_expand: false
            name: media_info_list
            required: false
            sub_type: object
            type: array
          - children:
            - children:
              - name: title
                required: true
                source: $.http.body.ad_text_list[].ad_text
                type: string
              is_expand: true
              type: object
            is_expand: false
            name: title_list
            required: false
            sub_type: object
            type: array
          - children:
            - children:
              - name: page_id
                required: true
                source: $.http.body.page_list[].page_id
                type: number
              is_expand: true
              type: object
            is_expand: false
            name: page_list
            required: false
            source: $.http.body.page_list
            sub_type: object
            type: array
          - children:
            - children:
              - name: card_id
                required: true
                source: $.http.body.card_list[].card_id
                type: number
              is_expand: true
              type: object
            is_expand: false
            name: card_list
            required: false
            source: $.http.body.interactive_add_on_list
            sub_type: object
            type: array
          - children:
            - children:
              - name: external_url
                required: false
                source: $.http.body.landing_page_url_list[].landing_page_url
                type: string
              is_expand: true
              type: object
            is_expand: false
            name: external_url_list
            required: false
            sub_type: object
            type: array
          - children:
            - children:
              - name: open_url
                required: false
                source: $.http.body.deeplink_list[].deeplink
                type: string
              - name: auto_open
                required: false
                source: $.http.body.deeplink_list[].deeplink_type
                type: number
              is_expand: true
              type: object
            is_expand: false
            name: open_url_list
            required: false
            sub_type: object
            type: array
          - children:
            - children:
              - name: call_to_action
                required: true
                source: $.http.body.call_to_action_list[].call_to_action
                type: string
              is_expand: true
              type: object
            is_expand: false
            name: call_to_action_list
            required: false
            source: $.http.body.call_to_action_list
            sub_type: object
            type: array
          - children:
            - name: identity_type
              required: false
              source: $.http.body.ad_configuration.identity_type
              type: number
            - name: identity_id
              required: false
              source: $.http.body.ad_configuration.identity_id
              type: string
            - name: product_specific_type
              required: false
              source: $.http.body.ad_configuration.product_specific_type
              type: number
            - name: product_set_id
              required: false
              source: $.http.body.ad_configuration.product_set_id
              type: number
            - children:
              - type: number
              is_expand: false
              name: product_ids
              required: false
              source: $.http.body.ad_configuration.product_ids[]
              sub_type: number
              type: array
            - name: catalog_creative_toggle
              required: false
              source: $.http.body.ad_configuration.catalog_creative_toggle
              type: boolean
            - children:
              - children:
                - name: field
                  required: false
                  source: $.http.body.ad_configuration.utm_params[].key
                  type: string
                - name: value
                  required: false
                  source: $.http.body.ad_configuration.utm_params[].value
                  type: string
                is_expand: true
                type: object
              is_expand: false
              name: utms
              required: false
              sub_type: object
              type: array
            - name: call_to_action_id
              required: false
              source: $.http.body.ad_configuration.call_to_action_id
              type: number
            - is_expand: false
              name: end_card_cta
              required: false
              source: $.http.body.ad_configuration.end_card_cta
              type: string
            - children:
              - is_expand: false
                source: undefined
                type: number
              is_expand: false
              name: auto_disclaimer_type_list
              required: false
              source: $.http.body.ad_configuration.auto_disclaimer_types[]
              sub_type: number
              type: array
            - children:
              - is_expand: false
                source: undefined
                type: number
              is_expand: false
              name: product_display_field_list
              required: false
              source: $.http.body.ad_configuration.product_display_field_list[]
              sub_type: number
              type: array
            - children:
              - is_expand: false
                name: track_url
                required: false
                source: $.http.body.ad_configuration.tracking_info.impression_tracking_url
                type: string
              - is_expand: false
                name: action_track_url
                required: false
                source: $.http.body.ad_configuration.tracking_info.click_tracking_url
                type: string
              - is_expand: false
                name: tracking_app_id
                required: false
                source: $.http.body.ad_configuration.tracking_info.tracking_app_id
                type: number
              - is_expand: false
                name: tracking_message_event_set_id
                required: false
                source: $.http.body.ad_configuration.tracking_info.tracking_message_event_set_id
                type: number
              is_expand: true
              name: tracking_info
              required: false
              type: object
            - is_expand: false
              name: phone_number
              required: false
              source: $.http.body.ad_configuration.phone_info.phone_number
              type: string
            - is_expand: false
              name: phone_country_code
              required: false
              source: $.http.body.ad_configuration.phone_info.phone_region_code
              type: string
            - is_expand: false
              name: phone_zip_code
              required: false
              source: $.http.body.ad_configuration.phone_info.phone_region_calling_code
              type: string
            - is_expand: false
              name: fallback_type
              required: false
              source: $.http.body.ad_configuration.fallback_type
              type: number
            - is_expand: false
              name: dark_post_status
              required: false
              source: $.http.body.ad_configuration.dark_post_status
              type: number
            is_expand: true
            name: common_material
            required: false
            type: object
          - children:
            - children:
              - name: auto_message_id
                required: true
                source: $.http.body.auto_message_list[].auto_message_id
                type: number
              is_expand: true
              type: object
            is_expand: true
            name: auto_message_list
            required: false
            sub_type: object
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          ad_name: $.http.body.ad_name
          adgroup_id: $.http.body.adgroup_id
          advertiser_id: $.http.body.advertiser_id
          auto_message_list[][]:
          - auto_message_id: $.http.body.auto_message_list[].auto_message_id
          call_to_action_list: $.http.body.call_to_action_list
          card_list: $.http.body.interactive_add_on_list
          common_material:
            auto_disclaimer_type_list: $.http.body.ad_configuration.auto_disclaimer_types[]
            call_to_action_id: $.http.body.ad_configuration.call_to_action_id
            catalog_creative_toggle: $.http.body.ad_configuration.catalog_creative_toggle
            dark_post_status: $.http.body.ad_configuration.dark_post_status
            end_card_cta: $.http.body.ad_configuration.end_card_cta
            fallback_type: $.http.body.ad_configuration.fallback_type
            identity_id: $.http.body.ad_configuration.identity_id
            identity_type: $.http.body.ad_configuration.identity_type
            phone_country_code: $.http.body.ad_configuration.phone_info.phone_region_code
            phone_number: $.http.body.ad_configuration.phone_info.phone_number
            phone_zip_code: $.http.body.ad_configuration.phone_info.phone_region_calling_code
            product_display_field_list: $.http.body.ad_configuration.product_display_field_list[]
            product_ids: $.http.body.ad_configuration.product_ids[]
            product_set_id: $.http.body.ad_configuration.product_set_id
            product_specific_type: $.http.body.ad_configuration.product_specific_type
            tracking_info:
              action_track_url: $.http.body.ad_configuration.tracking_info.click_tracking_url
              track_url: $.http.body.ad_configuration.tracking_info.impression_tracking_url
              tracking_app_id: $.http.body.ad_configuration.tracking_info.tracking_app_id
              tracking_message_event_set_id: $.http.body.ad_configuration.tracking_info.tracking_message_event_set_id
            utms[][]:
            - field: $.http.body.ad_configuration.utm_params[].key
              value: $.http.body.ad_configuration.utm_params[].value
          external_url_list[][]:
          - external_url: $.http.body.landing_page_url_list[].landing_page_url
          media_info_list[][]:
          - media_info[]:
            - ad_format: $.http.body.creative_list[].creative_info.ad_format
              aigc_disclosure_type: $.http.body.creative_list[].creative_info.aigc_disclosure_type
              aweme_item_id: $.http.body.creative_list[].creative_info.tiktok_item_id
              identity_bc_id: $.http.body.creative_list[].creative_info.identity_authorized_bc_id
              identity_id: $.http.body.creative_list[].creative_info.identity_id
              identity_type: $.http.body.creative_list[].creative_info.identity_type
              image_info[][]:
              - web_uri: $.http.body.creative_list[].creative_info.image_info[].web_uri
              music_info[]:
              - music_id: $.http.body.creative_list[].creative_info.music_info.music_id
              video_info[]:
              - file_name: $.http.body.creative_list[].creative_info.video_info.file_name
                video_id: $.http.body.creative_list[].creative_info.video_info.video_id
          open_url_list[][]:
          - auto_open: $.http.body.deeplink_list[].deeplink_type
            open_url: $.http.body.deeplink_list[].deeplink
          opt_status: $.http.body.operation_status
          page_list: $.http.body.page_list
          title_list[][]:
          - title: $.http.body.ad_text_list[].ad_text
        response_cookie: []
        response_header: []
        response_rule:
          ad_configuration:
            auto_disclaimer_types: $.rpc.output.asset_group_data.common_material.auto_disclaimer_type_list
            call_to_action_id: $.rpc.output.asset_group_data.common_material.call_to_action_id
            catalog_creative_toggle: $.rpc.output.asset_group_data.common_material.catalog_creative_toggle
            dark_post_status: $.rpc.output.asset_group_data.common_material.dark_post_status
            end_card_cta: $.rpc.output.asset_group_data.common_material.end_card_cta
            fallback_type: $.rpc.output.asset_group_data.common_material.fallback_type
            identity_id: $.rpc.output.asset_group_data.common_material.identity_id
            identity_type: $.rpc.output.asset_group_data.common_material.identity_type
            phone_info:
              phone_number: $.rpc.output.asset_group_data.common_material.phone_number
              phone_region_calling_code: $.rpc.output.asset_group_data.common_material.phone_zip_code
              phone_region_code: $.rpc.output.asset_group_data.common_material.phone_country_code
            product_display_field_list: $.rpc.output.asset_group_data.common_material.product_display_field_list
            product_ids: $.rpc.output.asset_group_data.common_material.product_ids
            product_set_id: $.rpc.output.asset_group_data.common_material.product_set_id
            product_specific_type: $.rpc.output.asset_group_data.common_material.product_specific_type
            tracking_info:
              click_tracking_url: $.rpc.output.asset_group_data.common_material.tracking_info.action_track_url
              impression_tracking_url: $.rpc.output.asset_group_data.common_material.tracking_info.track_url
              tracking_app_id: $.rpc.output.asset_group_data.common_material.tracking_info.tracking_app_id
              tracking_message_event_set_id: $.rpc.output.asset_group_data.common_material.tracking_info.tracking_message_event_set_id
            utm_params[][]:
            - key: $.rpc.output.asset_group_data.common_material.utms[].field
              value: $.rpc.output.asset_group_data.common_material.utms[].value
          ad_name: $.rpc.output.asset_group_data.ad_name
          ad_text_list[][]:
          - ad_text: $.rpc.output.asset_group_data.title_list[].title
          adgroup_id: $.rpc.output.asset_group_data.adgroup_id
          adgroup_name: $.rpc.output.asset_group_data.adgroup_name
          advertiser_id: $.rpc.output.asset_group_data.advertiser_id
          auto_message_list[][]:
          - auto_message_id: $.rpc.output.asset_group_data.auto_message_list[].auto_message_id
          call_to_action_list[][]:
          - call_to_action: $.rpc.output.asset_group_data.call_to_action_list[].call_to_action
          campaign_id: $.rpc.output.asset_group_data.campaign_id
          campaign_name: $.rpc.output.asset_group_data.campaign_name
          create_time: $.rpc.output.asset_group_data.create_time
          creative_list[][]:
          - ad_material_id: $.rpc.output.asset_group_data.media_info_list[].id
            creative_info[]:
            - ad_format: $.rpc.output.asset_group_data.media_info_list[].media_info.ad_format
              aigc_disclosure_type: $.rpc.output.asset_group_data.media_info_list[].media_info.aigc_disclosure_type
              identity_authorized_bc_id: $.rpc.output.asset_group_data.media_info_list[].media_info.identity_bc_id
              identity_id: $.rpc.output.asset_group_data.media_info_list[].media_info.identity_id
              identity_type: $.rpc.output.asset_group_data.media_info_list[].media_info.identity_type
              image_info[][]:
              - web_uri: $.rpc.output.asset_group_data.media_info_list[].media_info.image_info[].web_uri
              material_name: $.rpc.output.asset_group_data.media_info_list[].media_info.material_name
              music_info[]:
              - music_id: $.rpc.output.asset_group_data.media_info_list[].media_info.music_info.music_id
              tiktok_item_id: $.rpc.output.asset_group_data.media_info_list[].media_info.aweme_item_id
              video_info[]:
              - file_name: $.rpc.output.asset_group_data.media_info_list[].media_info.video_info.file_name
                video_id: $.rpc.output.asset_group_data.media_info_list[].media_info.video_info.video_id
            material_operation_status: $.rpc.output.asset_group_data.media_info_list[].aco_opt_status
          deeplink_list[][]:
          - deeplink: $.rpc.output.asset_group_data.open_url_list[].open_url
            deeplink_type: $.rpc.output.asset_group_data.open_url_list[].auto_open
          interactive_add_on_list[][]:
          - card_id: $.rpc.output.asset_group_data.card_list[].card_id
          landing_page_url_list[][]:
          - landing_page_url: $.rpc.output.asset_group_data.external_url_list[].external_url
          modify_time: $.rpc.output.asset_group_data.modify_time
          operation_status: $.rpc.output.asset_group_data.opt_status
          page_list[][]:
          - page_id: $.rpc.output.asset_group_data.page_list[].page_id
          secondary_status: $.rpc.output.asset_group_data.secondary_status
          smart_plus_ad_id: $.rpc.output.asset_group_data.ad_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /smart_plus/ad/get/:
    get:
      operationId: Smart_plus Ad Get
      parameters:
      - description: ''
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              properties:
                adgroup_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.query.filtering.adgroup_ids
                campaign_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.query.filtering.campaign_ids
                creation_filter_end_time:
                  description: ''
                  format: datetime
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 8
                  x-open-source: $.http.query.filtering.creation_filter_end_time
                creation_filter_start_time:
                  description: ''
                  format: datetime
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                  x-open-source: $.http.query.filtering.creation_filter_start_time
                modified_after:
                  description: ''
                  format: datetime
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 10
                objective_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1799789194562626
                    enum_package_name: CampaignObjectiveType
                    enums:
                    - description: ''
                      is_valid: false
                      key: APP_INSTALL
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: APP_PROMOTION
                      value: '16'
                    - description: ''
                      is_valid: false
                      key: BRAND_AD
                      value: '50'
                    - description: ''
                      is_valid: false
                      key: CATALOG_SALES
                      value: '6'
                    - description: ''
                      is_valid: false
                      key: CONVERSIONS
                      value: '3'
                    - description: ''
                      is_valid: false
                      key: ENGAGEMENT
                      value: '9'
                    - description: ''
                      is_valid: false
                      key: EST_AD
                      value: '51'
                    - description: ''
                      is_valid: true
                      key: LEAD_GENERATION
                      value: '8'
                    - description: ''
                      is_valid: false
                      key: NONE_TYPE
                      value: '0'
                    - description: ''
                      is_valid: false
                      key: PRODUCT_SALES
                      value: '15'
                    - description: ''
                      is_valid: false
                      key: REACH
                      value: '5'
                    - description: ''
                      is_valid: false
                      key: RF_APP_INSTALL
                      value: '13'
                    - description: ''
                      is_valid: false
                      key: RF_ENGAGEMENT
                      value: '12'
                    - description: ''
                      is_valid: false
                      key: RF_REACH
                      value: '7'
                    - description: ''
                      is_valid: false
                      key: RF_TRAFFIC
                      value: '11'
                    - description: ''
                      is_valid: false
                      key: RF_VIDEO_VIEW
                      value: '10'
                    - description: ''
                      is_valid: false
                      key: SHOP
                      value: '14'
                    - description: ''
                      is_valid: false
                      key: SS_HTC_AD
                      value: '52'
                    - description: ''
                      is_valid: false
                      key: TOPVIEW_REACH
                      value: '50'
                    - description: ''
                      is_valid: false
                      key: TRAFFIC
                      value: '1'
                    - description: ''
                      is_valid: false
                      key: VIDEO_VIEWS
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: WEB_CONVERSIONS
                      value: '1003'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 4
                  x-open-source: $.http.query.filtering.objective_type
                optimization_goal:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1804192692022273
                    enum_package_name: OptimizeGoalFilter
                    enums:
                    - description: ''
                      is_valid: true
                      key: ANCHOR_CLICK_PURCHASE
                      value: '17'
                    - description: ''
                      is_valid: true
                      key: CLICK
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: CONVERSATION
                      value: '28'
                    - description: ''
                      is_valid: true
                      key: CONVERSION_LEADS
                      value: '25'
                    - description: ''
                      is_valid: true
                      key: CONVERT
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: DESTINATION_VISIT
                      value: '27'
                    - description: ''
                      is_valid: true
                      key: ENGAGED_VIEW
                      value: '18'
                    - description: ''
                      is_valid: true
                      key: ENGAGED_VIEW_FIFTEEN
                      value: '20'
                    - description: ''
                      is_valid: true
                      key: FOLLOWERS
                      value: '9'
                    - description: ''
                      is_valid: true
                      key: GMV
                      value: '22'
                    - description: ''
                      is_valid: true
                      key: INITIATE_CHECKOUTS
                      value: '24'
                    - description: ''
                      is_valid: true
                      key: INSTALL
                      value: '6'
                    - description: ''
                      is_valid: true
                      key: IN_APP_EVENT
                      value: '7'
                    - description: ''
                      is_valid: true
                      key: LEAD_GENERATION
                      value: '8'
                    - description: ''
                      is_valid: true
                      key: MESSAGE
                      value: '19'
                    - description: ''
                      is_valid: true
                      key: MT_LIVE_ROOM
                      value: '13'
                    - description: ''
                      is_valid: true
                      key: MT_LIVE_SHOPPING
                      value: '16'
                    - description: ''
                      is_valid: true
                      key: PAGE_VISIT
                      value: '26'
                    - description: ''
                      is_valid: true
                      key: POST_ENGAGEMENT
                      value: '11'
                    - description: ''
                      is_valid: true
                      key: PRODUCT_CLICK_IN_LIVE
                      value: '14'
                    - description: ''
                      is_valid: true
                      key: PROFILE_VIEWS
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: PURCHASES
                      value: '23'
                    - description: ''
                      is_valid: true
                      key: REACH
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: SHOW
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: TRAFFIC_LANDING_PAGE_VIEW
                      value: '15'
                    - description: ''
                      is_valid: true
                      key: VALUE
                      value: '12'
                    - description: ''
                      is_valid: true
                      key: VIDEO_VIEW
                      value: '5'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 9
                  x-open-source: $.http.query.filtering.optimization_goal
                primary_status:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1836329574229121
                    enum_package_name: PrimaryStatus
                    enums:
                    - description: ''
                      is_valid: true
                      key: STATUS_ALL
                      value: all
                    - description: ''
                      is_valid: true
                      key: STATUS_CLOSED
                      value: rf_closed
                    - description: ''
                      is_valid: true
                      key: STATUS_DELETE
                      value: delete
                    - description: ''
                      is_valid: true
                      key: STATUS_DELIVERY_OK
                      value: delivery_ok
                    - description: ''
                      is_valid: true
                      key: STATUS_DISABLE
                      value: disable
                    - description: ''
                      is_valid: true
                      key: STATUS_FROZEN
                      value: frozen
                    - description: ''
                      is_valid: true
                      key: STATUS_NOT_DELETE
                      value: no_delete
                    - description: ''
                      is_valid: true
                      key: STATUS_NOT_DELIVERY
                      value: not_delivery
                    - description: ''
                      is_valid: true
                      key: STATUS_RF_CLOSED
                      value: rf_closed
                    - description: ''
                      is_valid: true
                      key: STATUS_TIME_DONE
                      value: time_done
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: string
                  x-open-field-id: 6
                  x-open-source: $.http.query.filtering.primary_status
                secondary_status:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1836329884603521
                    enum_package_name: CreativeStatus
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADGROUP_STATUS_FROZEN
                      value: ad_frozen
                    - description: ''
                      is_valid: true
                      key: ADVERTISER_ACCOUNT_PUNISH
                      value: advertiser_punish
                    - description: ''
                      is_valid: true
                      key: ADVERTISER_CONTRACT_PENDING
                      value: advertiser_contract_pending
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_ASSET_AUTHORIZATION_LOST
                      value: ad_asset_authorization_lost
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_AUDIT_DENY
                      value: creative_ad_offline_audit
                    - description: ''
                      is_valid: false
                      key: AD_STATUS_ADGROUP_CLOSED
                      value: rf_ad_has_closed
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_DELETE
                      value: ad_delete
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_DISABLE
                      value: ad_disable
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_INDUSTRY_QUALIFICATION_DENY
                      value: creative_ad_industry_qualification_rejected
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_INDUSTRY_QUALIFICATION_EXPIRED
                      value: creative_ad_industry_qualification_expired
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_INDUSTRY_QUALIFICATION_MISSING
                      value: creative_ad_industry_qualification_missing
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADGROUP_PARTIAL_AUDIT_NO_DELIVERY
                      value: ad_partial_audit_but_no_delivery
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADVERTISER_AUDIT
                      value: advertiser_audit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ADVERTISER_AUDIT_DENY
                      value: advertiser_offline_audit
                    - description: ''
                      is_valid: false
                      key: AD_STATUS_AD_PRE_ONLINE
                      value: ad_pre_online
                    - description: ''
                      is_valid: false
                      key: AD_STATUS_AD_QUOTA_LIMIT
                      value: creative_quota_limit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ALL
                      value: creative_all
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ANCHOR_UNAVAILABLE
                      value: anchor_unavailable
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_ASSET_AUTHORIZATION_LOST
                      value: creative_asset_authorization_lost
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_AUDIT
                      value: creative_audit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_AUDIT_DENY
                      value: creative_offline_audit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_BAD
                      value: creative_bad
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_BALANCE_EXCEED
                      value: ad_offline_balance
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_BUDGET_EXCEED
                      value: ad_offline_budget
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_CAMPAIGN_DELETE
                      value: campaign_delete
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_CAMPAIGN_DISABLE
                      value: campaign_disable
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_CAMPAIGN_EXCEED
                      value: campaign_offline_budget
                    - description: ''
                      is_valid: false
                      key: AD_STATUS_CLOSED_OTHERS
                      value: rf_closed_others
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_COLLECTION_TOGGLED_OFF
                      value: creative_collection_toggled_off
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DELETE
                      value: creative_delete
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DELIVERY_AND_REAUDIT
                      value: creative_delivery_and_reaudit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DELIVERY_AND_TRANSCODING_FAIL
                      value: creative_delivery_and_transcoding_fail
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DELIVERY_OK
                      value: creative_delivery_ok
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DISABLE
                      value: creative_disable
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_DONE
                      value: creative_ad_time_done
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_EXPLORING
                      value: creative_exploring
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_GOOD
                      value: creative_good
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_LIVE_OFFLINE
                      value: live_offline
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_MUSIC_AUTHORIZATION_MISSING
                      value: creative_music_authorization_missing
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_NOT_DELETE
                      value: no_delete
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_NOT_START
                      value: creative_ad_time_no_reach
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_OK
                      value: creative_ok
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PARTIAL_AUDIT_DELIVERY_OK
                      value: creative_partial_audit_and_delivery_ok
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PIXEL_UNBIND
                      value: creative_pixel_unbind
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PRIVACY_POLICY_AUDIT
                      value: creative_privacy_policy_audit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PRIVACY_POLICY_REJECTED
                      value: creative_privacy_policy_rejected
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PROCESS_AUDIO
                      value: creative_process_audio
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PRODUCT_UNAVAILABLE
                      value: product_unavailable
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PROMOTE_ADGROUP_CLOSED
                      value: promote_ad_has_closed
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_PROMOTE_AD_OFFLINE_AUDIT
                      value: promote_creative_offline_audit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_REAUDIT
                      value: creative_reaudit
                    - description: ''
                      is_valid: true
                      key: AD_STATUS_REVIEW_PARTIALLY_APPROVED
                      value: creative_review_partially_approved
                    - description: ''
                      is_valid: false
                      key: AD_STATUS_RF_ADGROUP_CLOSED
                      value: rf_ad_has_closed
                    - description: ''
[...]
