openapi: 3.2.0
info:
  title: TikTok API for Business — Marketing Catalog API
  description: TikTok API for Business (Marketing API) v1.3. This document is a mechanical union of the 202 per-operation OpenAPI 3.0.1 documents TikTok publishes in yml_files/ of its own SDK repository (https://github.com/tiktok/tiktok-business-api-sdk), which are the swagger-codegen inputs for TikTok's first-party Java/Python/JavaScript SDKs. Operation content (paths, parameters, responses, tags and the x-open-* extensions) is preserved verbatim; only info, servers and components.securitySchemes were written by API Evangelist, because the per-operation fragments carry placeholder info blocks and no servers block. The servers values are the production and sandbox base URLs TikTok documents at https://business-api.tiktok.com/portal/docs?id=1738855331457026 .
  version: v1.3
  contact:
    name: TikTok API for Business support
    url: https://business-api.tiktok.com/portal/docs?id=1795190020378625
  termsOfService: https://business-api.tiktok.com/portal/docs?id=1737191804348417
  x-source: https://github.com/tiktok/tiktok-business-api-sdk/tree/main/yml_files
  x-harvested-by: API Evangelist enrichment pipeline
  x-harvested: '2026-08-13'
servers:
- url: https://business-api.tiktok.com/open_api/v1.3
  description: Production
- url: https://sandbox-ads.tiktok.com/open_api/v1.3
  description: Sandbox
security:
- AccessToken: []
tags:
- name: Catalog
paths:
  /catalog/available_country/get/:
    get:
      operationId: Catalog Available_country Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the countries and regions that ads for a catalog can be delivered to. [Catalog Available Country Get](https://business-api.tiktok.com/portal/docs?id=1740491257516034)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.query.bc_id
        response_cookie: []
        response_header: []
        response_rule:
          region_codes: $.rpc.output.countrys
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/capitalize/:
    post:
      operationId: Catalog Capitalize
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.adv_id
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 3
                  x-open-source: $.http.body.catalog_id
              required:
              - bc_id
              - advertiser_id
              - catalog_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Migrate catalogs under your ad account to your Business Center. [Catalog Capitalize](https://business-api.tiktok.com/portal/docs?id=1740490222539778)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: user_id
            required: true
            source: $.context.core_user_id
            type: number
          - name: adv_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: source
            required: true
            source: '2'
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          adv_id: $.http.body.advertiser_id
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          source: 2
          user_id: $.context.core_user_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/create/:
    post:
      operationId: Catalog Create
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_conf:
                  description: ''
                  properties:
                    business_platform:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 4
                    channel:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: null
                        enum_package_name: null
                        enums:
                        - description: ''
                          is_valid: true
                          key: CLIENT
                          value: CLIENT
                        - description: ''
                          is_valid: true
                          key: BUSINESS_PLATFORM
                          value: BUSINESS_PLATFORM
                        - description: ''
                          is_valid: true
                          key: PARTNER
                          value: PARTNER
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: false
                        value_format: string
                      x-open-field-id: 3
                      x-open-source: $.http.body.catalog_conf.channel
                    currency:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1802164933598209
                        enum_package_name: CatalogCurrency
                        enums:
                        - description: ''
                          is_valid: true
                          key: AED
                          value: '784'
                        - description: ''
                          is_valid: true
                          key: ALL
                          value: '8'
                        - description: ''
                          is_valid: true
                          key: AOA
                          value: '973'
                        - description: ''
                          is_valid: true
                          key: ARS
                          value: '32'
                        - description: ''
                          is_valid: true
                          key: AUD
                          value: '36'
                        - description: ''
                          is_valid: true
                          key: BAM
                          value: '977'
                        - description: ''
                          is_valid: true
                          key: BDT
                          value: '50'
                        - description: ''
                          is_valid: true
                          key: BGN
                          value: '975'
                        - description: ''
                          is_valid: true
                          key: BHD
                          value: '48'
                        - description: ''
                          is_valid: true
                          key: BND
                          value: '96'
                        - description: ''
                          is_valid: true
                          key: BOB
                          value: '68'
                        - description: ''
                          is_valid: true
                          key: BRL
                          value: '986'
                        - description: ''
                          is_valid: true
                          key: BWP
                          value: '72'
                        - description: ''
                          is_valid: true
                          key: BYN
                          value: '933'
                        - description: ''
                          is_valid: true
                          key: CAD
                          value: '124'
                        - description: ''
                          is_valid: true
                          key: CHF
                          value: '756'
                        - description: ''
                          is_valid: true
                          key: CLP
                          value: '152'
                        - description: ''
                          is_valid: true
                          key: CNY
                          value: '156'
                        - description: ''
                          is_valid: true
                          key: COP
                          value: '170'
                        - description: ''
                          is_valid: true
                          key: CRC
                          value: '188'
                        - description: ''
                          is_valid: true
                          key: CZK
                          value: '203'
                        - description: ''
                          is_valid: true
                          key: DKK
                          value: '208'
                        - description: ''
                          is_valid: true
                          key: DZD
                          value: '12'
                        - description: ''
                          is_valid: true
                          key: EGP
                          value: '818'
                        - description: ''
                          is_valid: true
                          key: EUR
                          value: '978'
                        - description: ''
                          is_valid: true
                          key: GBP
                          value: '826'
                        - description: ''
                          is_valid: true
                          key: GHS
                          value: '936'
                        - description: ''
                          is_valid: true
                          key: GTQ
                          value: '320'
                        - description: ''
                          is_valid: true
                          key: GYD
                          value: '328'
                        - description: ''
                          is_valid: true
                          key: HKD
                          value: '344'
                        - description: ''
                          is_valid: true
                          key: HNL
                          value: '340'
                        - description: ''
                          is_valid: true
                          key: HRK
                          value: '191'
                        - description: ''
                          is_valid: true
                          key: HUF
                          value: '348'
                        - description: ''
                          is_valid: true
                          key: IDR
                          value: '360'
                        - description: ''
                          is_valid: true
                          key: ILS
                          value: '376'
                        - description: ''
                          is_valid: true
                          key: INR
                          value: '356'
                        - description: ''
                          is_valid: true
                          key: IQD
                          value: '368'
                        - description: ''
                          is_valid: true
                          key: IRR
                          value: '364'
                        - description: ''
                          is_valid: true
                          key: ISK
                          value: '352'
                        - description: ''
                          is_valid: true
                          key: JOD
                          value: '400'
                        - description: ''
                          is_valid: true
                          key: JPY
                          value: '392'
                        - description: ''
                          is_valid: true
                          key: KES
                          value: '404'
                        - description: ''
                          is_valid: true
                          key: KHR
                          value: '116'
                        - description: ''
                          is_valid: true
                          key: KRW
                          value: '410'
                        - description: ''
                          is_valid: true
                          key: KWD
                          value: '414'
                        - description: ''
                          is_valid: true
                          key: KZT
                          value: '398'
                        - description: ''
                          is_valid: true
                          key: LAK
                          value: '418'
                        - description: ''
                          is_valid: true
                          key: LBP
                          value: '422'
                        - description: ''
                          is_valid: true
                          key: LKR
                          value: '144'
                        - description: ''
                          is_valid: true
                          key: LYD
                          value: '434'
                        - description: ''
                          is_valid: true
                          key: MAD
                          value: '504'
                        - description: ''
                          is_valid: true
                          key: MDL
                          value: '498'
                        - description: ''
                          is_valid: true
                          key: MKD
                          value: '807'
                        - description: ''
                          is_valid: true
                          key: MMK
                          value: '104'
                        - description: ''
                          is_valid: true
                          key: MNT
                          value: '496'
                        - description: ''
                          is_valid: true
                          key: MOP
                          value: '446'
                        - description: ''
                          is_valid: true
                          key: MUR
                          value: '480'
                        - description: ''
                          is_valid: true
                          key: MVR
                          value: '462'
                        - description: ''
                          is_valid: true
                          key: MWK
                          value: '454'
                        - description: ''
                          is_valid: true
                          key: MXN
                          value: '484'
                        - description: ''
                          is_valid: true
                          key: MYR
                          value: '458'
                        - description: ''
                          is_valid: true
                          key: NGN
                          value: '566'
                        - description: ''
                          is_valid: true
                          key: NIO
                          value: '558'
                        - description: ''
                          is_valid: true
                          key: NOK
                          value: '578'
                        - description: ''
                          is_valid: true
                          key: NPR
                          value: '524'
                        - description: ''
                          is_valid: true
                          key: NZD
                          value: '554'
                        - description: ''
                          is_valid: true
                          key: OMNI
                          value: '-1'
                        - description: ''
                          is_valid: true
                          key: OMR
                          value: '512'
                        - description: ''
                          is_valid: true
                          key: PEN
                          value: '604'
                        - description: ''
                          is_valid: true
                          key: PHP
                          value: '608'
                        - description: ''
                          is_valid: true
                          key: PKR
                          value: '586'
                        - description: ''
                          is_valid: true
                          key: PLN
                          value: '985'
                        - description: ''
                          is_valid: true
                          key: PYG
                          value: '600'
                        - description: ''
                          is_valid: true
                          key: QAR
                          value: '634'
                        - description: ''
                          is_valid: true
                          key: RON
                          value: '946'
                        - description: ''
                          is_valid: true
                          key: RSD
                          value: '941'
                        - description: ''
                          is_valid: true
                          key: RUB
                          value: '643'
                        - description: ''
                          is_valid: true
                          key: SAR
                          value: '682'
                        - description: ''
                          is_valid: true
                          key: SDG
                          value: '938'
                        - description: ''
                          is_valid: true
                          key: SEK
                          value: '752'
                        - description: ''
                          is_valid: true
                          key: SGD
                          value: '702'
                        - description: ''
                          is_valid: true
                          key: SLL
                          value: '694'
                        - description: ''
                          is_valid: true
                          key: SRD
                          value: '968'
                        - description: ''
                          is_valid: true
                          key: SSP
                          value: '728'
                        - description: ''
                          is_valid: true
                          key: SYP
                          value: '760'
                        - description: ''
                          is_valid: true
                          key: THB
                          value: '764'
                        - description: ''
                          is_valid: true
                          key: TND
                          value: '788'
                        - description: ''
                          is_valid: true
                          key: TRY
                          value: '949'
                        - description: ''
                          is_valid: true
                          key: TWD
                          value: '901'
                        - description: ''
                          is_valid: true
                          key: TZS
                          value: '834'
                        - description: ''
                          is_valid: true
                          key: UAH
                          value: '980'
                        - description: ''
                          is_valid: true
                          key: UGX
                          value: '800'
                        - description: ''
                          is_valid: true
                          key: USD
                          value: '840'
                        - description: ''
                          is_valid: true
                          key: UYU
                          value: '858'
                        - description: ''
                          is_valid: true
                          key: UZS
                          value: '860'
                        - description: ''
                          is_valid: true
                          key: VEF
                          value: '937'
                        - description: ''
                          is_valid: true
                          key: VND
                          value: '704'
                        - description: ''
                          is_valid: true
                          key: XAF
                          value: '950'
                        - description: ''
                          is_valid: true
                          key: YER
                          value: '886'
                        - description: ''
                          is_valid: true
                          key: ZAR
                          value: '710'
                        - description: ''
                          is_valid: true
                          key: ZMW
                          value: '967'
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: true
                        value_format: int32
                      x-open-field-id: 2
                      x-open-source: $.http.body.catalog_conf.currency
                    region_code:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 1
                      x-open-source: $.http.body.catalog_conf.region_code
                  required:
                  - region_code
                  - currency
                  type: object
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.catalog_conf
                catalog_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1802164714465281
                    enum_package_name: CatalogType
                    enums:
                    - description: ''
                      is_valid: true
                      key: AUTO
                      value: '11'
                    - description: ''
                      is_valid: true
                      key: DESTINATION
                      value: '15'
                    - description: ''
                      is_valid: true
                      key: ECOM
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: ENTERTAINMENT
                      value: '12'
                    - description: ''
                      is_valid: true
                      key: FLIGHT
                      value: '14'
                    - description: ''
                      is_valid: true
                      key: HOTEL
                      value: '13'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 2
                  x-open-source: $.http.body.catalog_type
                creative_asset_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: null
                    enum_package_name: null
                    enums:
                    - description: ''
                      is_valid: true
                      key: VIDEO
                      value: VIDEO
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: string
                  x-open-field-id: 5
                name:
                  description: ''
                  maxLength: 128
                  minLength: 1
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.catalog_name
              required:
              - bc_id
              - catalog_type
              - name
              - catalog_conf
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Create a catalog by specifying information such as name, targeted locations, and currency. [Catalog Create](https://business-api.tiktok.com/portal/docs?id=1740306481704961)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: catalog_type
            required: true
            source: $.http.body.catalog_type
            type: number
          - name: catalog_name
            required: true
            source: $.http.body.name
            type: string
          - children:
            - name: region_code
              required: true
              source: $.http.body.catalog_conf.region_code
              type: string
            - name: currency
              required: true
              source: $.http.body.catalog_conf.currency
              type: string
            - name: channel
              required: false
              source: $.http.body.catalog_conf.channel
              type: string
            - name: business_platform
              required: false
              source: $.http.body.catalog_conf.business_platform
              type: string
            is_expand: true
            name: catalog_conf
            required: true
            type: object
          - name: creative_asset_type
            required: false
            source: $.http.query.creative_asset_type
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.body.bc_id
          catalog_conf:
            business_platform: $.http.body.catalog_conf.business_platform
            channel: $.http.body.catalog_conf.channel
            currency: $.http.body.catalog_conf.currency
            region_code: $.http.body.catalog_conf.region_code
          catalog_name: $.http.body.name
          catalog_type: $.http.body.catalog_type
          creative_asset_type: $.http.query.creative_asset_type
        response_cookie: []
        response_header: []
        response_rule:
          catalog_id: $.rpc.output.catalog_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/delete/:
    post:
      operationId: Catalog Delete
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.catalog_id
              required:
              - catalog_id
              - bc_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Delete a catalog. [Catalog Delete](https://business-api.tiktok.com/portal/docs?id=1740310064588801)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: request_source
            required: true
            source: '1'
            type: number
          - name: opt_type
            required: true
            source: '2'
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: user_id
            required: false
            source: $.context.core_user_id
            type: number
          - name: bc_id
            required: false
            source: $.http.body.bc_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          opt_type: 2
          request_source: 1
          user_id: $.context.core_user_id
        response_cookie: []
        response_header: []
        response_rule:
          catalog_id: $.http.body.catalog_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/eventsource/bind/:
    post:
      operationId: Catalog Eventsource Bind
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.advertiser_id
                app_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.body.mobile_app_id
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 3
                  x-open-source: $.http.body.catalog_id
                pixel_code:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.pixel_code
              required:
              - bc_id
              - advertiser_id
              - catalog_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Bind app or website event sources to a catalog in a Business Center. [Catalog Eventsource Bind](https://business-api.tiktok.com/portal/docs?id=1740492491200513)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: advertiser_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: opt_type
            required: true
            source: '1'
            type: number
          - name: core_user_id
            required: true
            source: $.context.core_user_id
            type: number
          - name: pixel_code
            required: false
            source: $.http.body.pixel_code
            type: string
          - name: mobile_app_id
            required: false
            source: $.http.body.app_id
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.body.advertiser_id
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          core_user_id: $.context.core_user_id
          mobile_app_id: $.http.body.app_id
          opt_type: 1
          pixel_code: $.http.body.pixel_code
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/eventsource/unbind/:
    post:
      operationId: Catalog Eventsource Unbind
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.advertiser_id
                app_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.body.mobile_app_id
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 3
                  x-open-source: $.http.body.catalog_id
                pixel_code:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.pixel_code
              required:
              - bc_id
              - advertiser_id
              - catalog_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Unbind event sources from a catalog. [Catalog Eventsource Unbind](https://business-api.tiktok.com/portal/docs?id=1740492512449538)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: advertiser_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: opt_type
            required: true
            source: '2'
            type: number
          - name: core_user_id
            required: true
            source: $.context.core_user_id
            type: number
          - name: pixel_code
            required: false
            source: $.http.body.pixel_code
            type: string
          - name: mobile_app_id
            required: false
            source: $.http.body.app_id
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.body.advertiser_id
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          core_user_id: $.context.core_user_id
          mobile_app_id: $.http.body.app_id
          opt_type: 2
          pixel_code: $.http.body.pixel_code
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/eventsource_bind/get/:
    get:
      operationId: Catalog Eventsource_bind Get
      parameters:
      - description: ''
        in: query
        name: catalog_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.catalogue_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get event source binding information. [Catalog Eventsource Bind Get](https://business-api.tiktok.com/portal/docs?id=1740492531343362)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: catalogue_id
            required: false
            source: $.http.query.catalog_id
            type: number
          - name: user_id
            required: false
            source: $.context.core_user_id
            type: number
          - name: bc_id
            required: false
            source: $.http.query.bc_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.query.bc_id
          catalogue_id: $.http.query.catalog_id
          user_id: $.context.core_user_id
        response_cookie: []
        response_header: []
        response_rule:
          catalog_id: $.http.query.catalog_id
          event_sources[][]:
          - app_id: $.rpc.output.event_sources[].meteor_app_id
            event_source_name: $.rpc.output.event_sources[].app_name
            pixel_code: $.rpc.output.event_sources[].pixel_code
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/feed/create/:
    post:
      operationId: Catalog Feed Create
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.catalog_id
                feed_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.feed_name
                schedule_param:
                  description: ''
                  properties:
                    day_of_month:
                      description: ''
                      format: int32
                      maximum: 31
                      minimum: 1
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 5
                      x-open-source: $.http.body.schedule_param.day_of_month
                    hour:
                      description: ''
                      format: int32
                      maximum: 23
                      minimum: 0
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 6
                      x-open-source: $.http.body.schedule_param.hour
                    interval_count:
                      description: ''
                      format: int32
                      maximum: 30
                      minimum: 1
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 3
                      x-open-source: $.http.body.schedule_param.interval_count
                    interval_type:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1822447827658753
                        enum_package_name: CatalogFeedIntervalType
                        enums:
                        - description: ''
                          is_valid: true
                          key: DAILY
                          value: '2'
                        - description: ''
                          is_valid: true
                          key: HOURLY
                          value: '1'
                        - description: ''
                          is_valid: true
                          key: MONTHLY
                          value: '4'
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: false
                        value_format: int64
                      x-open-field-id: 2
                      x-open-source: $.http.body.schedule_param.interval_type
                    minute:
                      description: ''
                      format: int32
                      maximum: 59
                      minimum: 0
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 7
                      x-open-source: $.http.body.schedule_param.minute
                    source:
                      description: ''
                      properties:
                        password:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 3
                          x-open-source: $.http.body.schedule_param.source.password
                        uri:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 1
                          x-open-source: $.http.body.schedule_param.source.uri
                        username:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 2
                          x-open-source: $.http.body.schedule_param.source.username
                      type: object
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 1
                      x-open-source: $.http.body.schedule_param.source
                    timezone:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 4
                      x-open-source: $.http.body.schedule_param.timezone
                  type: object
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.body.schedule_param
                update_mode:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1822447728485378
                    enum_package_name: CatalogFeedUpdateMode
                    enums:
                    - description: ''
                      is_valid: true
                      key: INCREMENTAL
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: OVERWRITE
                      value: '2'
                    - description: ''
                      is_valid: false
                      key: SUPPLEMENT
                      value: '3'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int64
                  x-open-field-id: 4
                  x-open-source: $.http.body.update_mode
              required:
              - bc_id
              - catalog_id
              - feed_name
              - update_mode
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Create a feed. [Catalog Feed Create](https://business-api.tiktok.com/portal/docs?id=1740665161957377)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: feed_name
            required: false
            source: $.http.body.feed_name
            type: string
          - name: update_mode
            required: true
            source: $.http.body.update_mode
            type: number
          - children:
            - children:
              - name: uri
                required: false
                source: $.http.body.schedule_param.source.uri
                type: string
              - name: username
                required: false
                source: $.http.body.schedule_param.source.username
                type: string
              - name: password
                required: false
                source: $.http.body.schedule_param.source.password
                type: string
              name: source
              required: false
              source: $.http.body.schedule_param.source
              type: object
            - name: interval_type
              required: false
              source: $.http.body.schedule_param.interval_type
              type: number
            - name: interval_count
              required: false
              source: $.http.body.schedule_param.interval_count
              type: number
            - name: timezone
              required: false
              source: $.http.body.schedule_param.timezone
              type: string
            - name: day_of_month
              required: false
              source: $.http.body.schedule_param.day_of_month
              type: number
            - name: hour
              required: false
              source: $.http.body.schedule_param.hour
              type: number
            - name: minute
              required: false
              source: $.http.body.schedule_param.minute
              type: number
            name: schedule_param
            required: false
            source: $.http.body.schedule_param
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          feed_name: $.http.body.feed_name
          schedule_param: $.http.body.schedule_param
          update_mode: $.http.body.update_mode
        response_cookie: []
        response_header: []
        response_rule:
          feed_id: $.rpc.output.feed_data.feed_id
          feed_name: $.rpc.output.feed_data.feed_name
          last_update_param: $.rpc.output.feed_data.last_update_param
          next_update_time: $.rpc.output.feed_data.next_update_time
          number_of_products: $.rpc.output.feed_data.number_of_products
          status: $.rpc.output.feed_data.status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/feed/delete/:
    post:
      operationId: Catalog Feed Delete
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.advertiserId
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 3
                  x-open-source: $.http.body.multiLocLangType
                feed_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.feedIds
              required:
              - bc_id
              - feed_id
              - catalog_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Delete a feed. [Catalog Feed Delete](https://business-api.tiktok.com/portal/docs?id=1740665210863617)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - children:
            - name: id
              required: false
              source: $.http.body.feed_id
              type: number
            - name: platformId
              required: false
              source: $.http.body.catalog_id
              type: number
            is_expand: true
            name: feed
            required: false
            type: object
          - name: optType
            required: false
            source: '3'
            type: number
          - children:
            - type: number
            is_expand: true
            name: feedIds
            required: false
            source: $.feed_ids
            sub_type: number
            type: array
        plugins:
          after_response: []
          before_request:
          - Plugin_mk_list_5934464:
            - description: make list
            - request_params:
              - $.http.body.feed_id
            - result_params:
              - $.feed_ids
            - version: c9e39304e3af5001d163ef81733004ce
        request_query_rule: null
        request_rule:
          feed:
            id: $.http.body.feed_id
            platformId: $.http.body.catalog_id
          feedIds: $.feed_ids
          optType: 3
        response_cookie: []
        response_header: []
        response_rule:
          feed_id: $.http.body.feed_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/feed/get/:
    get:
      operationId: Catalog Feed Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: catalog_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.catalog_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: feed_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.feed_id
        x-open-field-id: 3
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get all feeds or a particular feed. [Catalog Feed Get](https://business-api.tiktok.com/portal/docs?id=1740665183073281)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.query.catalog_id
            type: number
          - name: feed_id
            required: false
            source: $.http.query.feed_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.query.bc_id
          catalog_id: $.http.query.catalog_id
          feed_id: $.http.query.feed_id
        response_cookie: []
        response_header: []
        response_rule:
          feed_list: $.rpc.output.feed_list
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/feed/log/:
    get:
      operationId: Catalog Feed Log
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: catalog_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.catalog_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: feed_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.feed_id
        x-open-field-id: 3
      - description: ''
        in: query
        name: context_info
        required: false
        schema:
          $ref: ./openapi.yaml#/definitions/Context_infoCatalogFeedLog
        x-open-field-id: 4
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the last 10 operations of a feed. [Catalog Feed Log](https://business-api.tiktok.com/portal/docs?id=1740665225631810)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.query.catalog_id
            type: number
          - name: feed_id
            required: true
            source: $.http.query.feed_id
            type: number
          - children:
            - name: app_id
              required: false
              source: $.http.query.context_info.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.http.query.context_info.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.http.query.context_info.developer_id
              type: number
            - name: x_forwarded_for
              required: false
              source: $.http.query.context_info.x_forwarded_for
              type: string
            - name: x_real_ip
              required: false
              source: $.http.query.context_info.x_real_ip
              type: string
            is_expand: false
            name: context_info
            required: false
            source: $.http.query.context_info
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.query.bc_id
          catalog_id: $.http.query.catalog_id
          context_info: $.http.query.context_info
          feed_id: $.http.query.feed_id
        response_cookie: []
        response_header: []
        response_rule:
          feed_logs: $.rpc.output.feed_logs
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/feed/update/:
    post:
      operationId: Catalog Feed Update
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.catalog_id
                feed_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 3
                  x-open-source: $.http.body.feed_id
                feed_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.feed_name
                schedule_param:
                  description: ''
                  properties:
                    day_of_month:
                      description: ''
                      format: int32
                      maximum: 31
                      minimum: 1
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 5
                      x-open-source: $.http.body.schedule_param.day_of_month
                    hour:
                      description: ''
                      format: int32
                      maximum: 23
                      minimum: 0
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 6
                      x-open-source: $.http.body.schedule_param.hour
                    interval_count:
                      description: ''
                      format: int32
                      maximum: 30
                      minimum: 1
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 3
                      x-open-source: $.http.body.schedule_param.interval_count
                    interval_type:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-enum:
                        enum_package_expired: false
                        enum_package_id: 1822447827658753
                        enum_package_name: CatalogFeedIntervalType
                        enums:
                        - description: ''
                          is_valid: true
                          key: DAILY
                          value: '2'
                        - description: ''
                          is_valid: true
                          key: HOURLY
                          value: '1'
                        - description: ''
                          is_valid: true
                          key: MONTHLY
                          value: '4'
                        key_format: string
                        strict: true
                        use_part: false
                        validate_only: false
                        value_format: int64
                      x-open-field-id: 2
                      x-open-source: $.http.body.schedule_param.interval_type
                    minute:
                      description: ''
                      format: int32
                      maximum: 59
                      minimum: 0
                      type: integer
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 7
                      x-open-source: $.http.body.schedule_param.minute
                    source:
                      description: ''
                      properties:
                        password:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 3
                          x-open-source: $.http.body.schedule_param.source.password
                        uri:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 1
                          x-open-source: $.http.body.schedule_param.source.uri
                        username:
                          description: ''
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-field-id: 2
                          x-open-source: $.http.body.schedule_param.source.username
                      type: object
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 1
                      x-open-source: $.http.body.schedule_param.source
                    timezone:
                      description: ''
                      type: string
                      x-open-allow-strlist: false
                      x-open-allow-strnum: false
                      x-open-field-id: 4
                      x-open-source: $.http.body.schedule_param.timezone
                  type: object
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 6
                  x-open-source: $.http.body.schedule_param
                update_mode:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1822447728485378
                    enum_package_name: CatalogFeedUpdateMode
                    enums:
                    - description: ''
                      is_valid: true
                      key: INCREMENTAL
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: OVERWRITE
                      value: '2'
                    - description: ''
                      is_valid: false
                      key: SUPPLEMENT
                      value: '3'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int64
                  x-open-field-id: 5
                  x-open-source: $.http.body.update_mode
              required:
              - bc_id
              - catalog_id
              - feed_id
              - feed_name
              - update_mode
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Update a feed. [Catalog Feed Update](https://business-api.tiktok.com/portal/docs?id=1740665197662210)
      tags:
      - Catalog
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: catalog_id
            required: true
            source: $.http.body.catalog_id
            type: number
          - name: feed_id
            required: false
            source: $.http.body.feed_id
            type: number
          - name: update_mode
            required: true
            source: $.http.body.update_mode
            type: number
          - children:
            - children:
              - name: uri
                required: false
                source: $.http.body.schedule_param.source.uri
                type: string
              - name: username
                required: false
                source: $.http.body.schedule_param.source.username
                type: string
              - name: password
                required: false
                source: $.http.body.schedule_param.source.password
                type: string
              is_expand: true
              name: source
              required: false
              source: $.http.body.schedule_param.source
              type: object
            - name: interval_type
              required: false
              source: $.http.body.schedule_param.interval_type
              type: number
            - name: interval_count
              required: false
              source: $.http.body.schedule_param.interval_count
              type: number
            - name: timezone
              required: false
              source: $.http.body.schedule_param.timezone
              type: string
            - name: day_of_month
              required: false
              source: $.http.body.schedule_param.day_of_month
              type: number
            - name: hour
              required: false
              source: $.http.body.schedule_param.hour
              type: number
            - name: minute
              required: false
              source: $.http.body.schedule_param.minute
              type: number
            is_expand: false
            name: schedule_param
            required: false
            source: $.http.body.schedule_param
            type: object
          - name: feed_name
            required: false
            source: $.http.body.feed_name
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          bc_id: $.http.body.bc_id
          catalog_id: $.http.body.catalog_id
          feed_id: $.http.body.feed_id
          feed_name: $.http.body.feed_name
          schedule_param: $.http.body.schedule_param
          update_mode: $.http.body.update_mode
        response_cookie: []
        response_header: []
        response_rule:
          feed_id: $.rpc.output.feed_data.feed_id
          feed_name: $.rpc.output.feed_data.feed_name
          last_update_param: $.rpc.output.feed_data.last_update_param
          next_update_time: $.rpc.output.feed_data.next_update_time
          number_of_products: $.rpc.output.feed_data.number_of_products
          status: $.rpc.output.feed_data.status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /catalog/get/:
    get:
      operationId: Catalog Get
      parameters:
      - description: ''
        in: query
        name: catalog_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.catalog_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 3
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 4
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
[...]
