openapi: 3.2.0
info:
  title: TikTok API for Business — Marketing Tool API
  description: TikTok API for Business (Marketing API) v1.3. This document is a mechanical union of the 202 per-operation OpenAPI 3.0.1 documents TikTok publishes in yml_files/ of its own SDK repository (https://github.com/tiktok/tiktok-business-api-sdk), which are the swagger-codegen inputs for TikTok's first-party Java/Python/JavaScript SDKs. Operation content (paths, parameters, responses, tags and the x-open-* extensions) is preserved verbatim; only info, servers and components.securitySchemes were written by API Evangelist, because the per-operation fragments carry placeholder info blocks and no servers block. The servers values are the production and sandbox base URLs TikTok documents at https://business-api.tiktok.com/portal/docs?id=1738855331457026 .
  version: v1.3
  contact:
    name: TikTok API for Business support
    url: https://business-api.tiktok.com/portal/docs?id=1795190020378625
  termsOfService: https://business-api.tiktok.com/portal/docs?id=1737191804348417
  x-source: https://github.com/tiktok/tiktok-business-api-sdk/tree/main/yml_files
  x-harvested-by: API Evangelist enrichment pipeline
  x-harvested: '2026-08-13'
servers:
- url: https://business-api.tiktok.com/open_api/v1.3
  description: Production
- url: https://sandbox-ads.tiktok.com/open_api/v1.3
  description: Sandbox
security:
- AccessToken: []
tags:
- name: Tool
paths:
  /search/region/:
    get:
      operationId: Search Region
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
        x-open-field-id: 1
      - description: 'The language you want the returned region name to be translated into. Default value: en Currently, we only support zh, fr, es, ko, vi, en, hi, it, tr, ru, ja, id, de, ms, ar, and th Note: If you do not pass in one of the supported values above, it will return as the default en.'
        in: query
        name: language
        required: false
        schema:
          default: en
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get available locations by advertiser ID [Search Region](https://ads.tiktok.com/marketing_api/docs?id=1773644763581441)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - name: language
            required: false
            source: $.http.query.language
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          language: $.http.query.language
        response_cookie: []
        response_header: []
        response_rule:
          region_list[][]:
          - area_type: $.rpc.output.region_list[].area_type
            country_code: $.rpc.output.region_list[].country_code
            parent_id: $.rpc.output.region_list[].parent_id
            region_id: $.rpc.output.region_list[].region_id
            region_level: $.rpc.output.region_list[].region_level
            region_name: $.rpc.output.region_list[].region_name
            support_below_18: $.rpc.output.region_list[].support_below_18
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /tool/action_category/:
    get:
      operationId: Tool Action_category
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-enum:
                  enum_package_expired: false
                  enum_package_id: 1800966552221698
                  enum_package_name: IndustryType
                  enums:
                  - description: ''
                    is_valid: true
                    key: CREDIT
                    value: '3'
                  - description: ''
                    is_valid: true
                    key: EMPLOYMENT
                    value: '2'
                  - description: ''
                    is_valid: true
                    key: HOUSING
                    value: '1'
                  key_format: string
                  strict: true
                  use_part: false
                  validate_only: false
                  value_format: int32
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.special_industries
        description: 'Special ad categories. Enum values: HOUSING: Ads for real estate listings, homeowners insurance, mortgage loans or other related opportunities. EMPLOYMENT: Ads for job offers, internship, professional certification programs or other related opportunities. CREDIT: Ads for credit card offers, auto loans, long-term financing or other related opportunities. Note: This field is generally available to advertisers registered in America or Canada. Advertisers who are not registered in America or Canada but want to target these countries with special ad categories need to apply for an additional allowlist.'
        in: query
        name: special_industries
        required: false
        x-open-field-id: 2
      - description: 'Category name language in repsonse. Default value: en. Supported languages: en, zh, ja, de, es, fr, id, it, ko, ru, th, tr, vi, ar, pt, ms. For details, see Enumeration - Language Code.'
        in: query
        name: language
        required: false
        schema:
          default: en
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.language
        x-open-field-id: 3
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get action categories. [Tool Action Category](https://business-api.tiktok.com/portal/docs?id=1737166752522241)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - type: number
            name: special_industries
            required: false
            source: $.http.query.special_industries
            sub_type: number
            type: array
          - name: language
            required: false
            source: $.http.query.language
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          language: $.http.query.language
          special_industries: $.http.query.special_industries
        response_cookie: []
        response_header: []
        response_rule:
          action_categories[][]:
          - action_category_id: $.rpc.output.action_categories[].action_category_id
            action_scene: $.rpc.output.action_categories[].scene
            description: $.rpc.output.action_categories[].description
            level: $.rpc.output.action_categories[].level
            name: $.rpc.output.action_categories[].action_category_name
            special_industries: $.rpc.output.action_categories[].special_industries
            sub_category_ids: $.rpc.output.action_categories[].sub_category_ids
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/bid/recommend/:
    post:
      operationId: Tool Bid Recommend
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: Advertiser ID.
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                campaign_id:
                  default: '"0"'
                  description: Campaign ID.
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                external_action:
                  description: Conversion event for the ad group.
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1799795326256129
                    enum_package_name: ExternalAction
                    enums:
                    - description: ''
                      is_valid: true
                      key: ACTIVE
                      value: '8'
                    - description: ''
                      is_valid: true
                      key: ACTIVE_PAY
                      value: '14'
                    - description: ''
                      is_valid: true
                      key: ACTIVE_REGISTER
                      value: '13'
                    - description: ''
                      is_valid: true
                      key: ADD_BOOKSHELF
                      value: '116'
                    - description: ''
                      is_valid: true
                      key: ADD_PAYMENT_INFO
                      value: '127'
                    - description: ''
                      is_valid: true
                      key: ADD_TO_WISHLIST
                      value: '128'
                    - description: ''
                      is_valid: true
                      key: ANCHOR_CLICK
                      value: '308'
                    - description: ''
                      is_valid: true
                      key: APPLET_DEAL
                      value: '126'
                    - description: ''
                      is_valid: true
                      key: APPOINTMENT_DOWNLOAD_BUTTON
                      value: '173'
                    - description: ''
                      is_valid: true
                      key: ASCRIPTION_PHONE
                      value: '161'
                    - description: ''
                      is_valid: true
                      key: AUTHORIZATION
                      value: '121'
                    - description: ''
                      is_valid: true
                      key: BANKCARD_INFORMATION
                      value: '107'
                    - description: ''
                      is_valid: true
                      key: BOOST
                      value: '124'
                    - description: ''
                      is_valid: true
                      key: BUTTON
                      value: '5'
                    - description: ''
                      is_valid: true
                      key: CERTIFICATION_INFORMATION
                      value: '109'
                    - description: ''
                      is_valid: true
                      key: CLICK_CALL_DY
                      value: '69'
                    - description: ''
                      is_valid: true
                      key: CLICK_DOWNLOAD
                      value: '68'
                    - description: ''
                      is_valid: true
                      key: CLICK_LANDING_PAGE
                      value: '66'
                    - description: ''
                      is_valid: true
                      key: CLICK_SHOPWINDow
                      value: '67'
                    - description: ''
                      is_valid: true
                      key: CLICK_WEBSITE
                      value: '70'
                    - description: ''
                      is_valid: true
                      key: CLUE_CONFIRM
                      value: '194'
                    - description: ''
                      is_valid: true
                      key: CLUE_HIGH_INTENTION
                      value: '196'
                    - description: ''
                      is_valid: true
                      key: CLUE_INTERFLOW
                      value: '195'
                    - description: ''
                      is_valid: true
                      key: CLUE_PAY_SUCCEED
                      value: '218'
                    - description: ''
                      is_valid: true
                      key: COMMENT_ACTION
                      value: '47'
                    - description: ''
                      is_valid: true
                      key: COMMODITY_CLICK
                      value: '122'
                    - description: ''
                      is_valid: true
                      key: COMPLETE_TUTORIAL
                      value: '131'
                    - description: ''
                      is_valid: true
                      key: CONSULT
                      value: '97'
                    - description: ''
                      is_valid: true
                      key: CONSULT_CLUE
                      value: '123'
                    - description: ''
                      is_valid: true
                      key: CONSULT_EFFECTIVE
                      value: '19'
                    - description: ''
                      is_valid: true
                      key: CONVERSION_LEADS
                      value: '313'
                    - description: ''
                      is_valid: true
                      key: COUPON
                      value: '28'
                    - description: ''
                      is_valid: true
                      key: CREATE_GAMEROLE
                      value: '38'
                    - description: ''
                      is_valid: true
                      key: CUSTOMER_EFFECTIVE
                      value: '26'
                    - description: ''
                      is_valid: true
                      key: DEEP_PURCHASE
                      value: '52'
                    - description: ''
                      is_valid: true
                      key: DESTINATION_VISIT
                      value: '272'
                    - description: ''
                      is_valid: true
                      key: DIALBACK
                      value: '33'
                    - description: ''
                      is_valid: true
                      key: DIALBACK_CONFIRM
                      value: '34'
                    - description: ''
                      is_valid: true
                      key: DIALBACK_CONNECT
                      value: '35'
                    - description: ''
                      is_valid: true
                      key: DOWNLOAD_BUTTON
                      value: '155'
                    - description: ''
                      is_valid: true
                      key: DOWNLOAD_DETAIL
                      value: '154'
                    - description: ''
                      is_valid: true
                      key: DOWNLOAD_FINISH
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: DOWNLOAD_START
                      value: '9'
                    - description: ''
                      is_valid: true
                      key: EC_CLICK_BUY
                      value: '175'
                    - description: ''
                      is_valid: true
                      key: EC_CLICK_PRODUCT
                      value: '179'
                    - description: ''
                      is_valid: true
                      key: EC_CONFRIM_DEAL
                      value: '214'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_CART
                      value: '210'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_CLICK_PRODUCT_ACTION
                      value: '208'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_COMMENT_ACTION
                      value: '205'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_ENTER_ACTION
                      value: '202'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_FOLLOW_ACTION
                      value: '204'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_GIFT_ACTION
                      value: '206'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_NATIVE_ACTION
                      value: '203'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_ORDER
                      value: '211'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_REDIRECT_TO_STORE_ACTION
                      value: '209'
                    - description: ''
                      is_valid: true
                      key: EC_LIVE_SLIDECART_CLICK_ACTION
                      value: '207'
                    - description: ''
                      is_valid: true
                      key: EC_SUBMIT_ORDER
                      value: '176'
                    - description: ''
                      is_valid: true
                      key: EFFECTIVE_COPY
                      value: '27'
                    - description: ''
                      is_valid: true
                      key: ENGAGED_VIEW
                      value: '309'
                    - description: ''
                      is_valid: true
                      key: ENGAGED_VIEW_FIFTEEN
                      value: '311'
                    - description: ''
                      is_valid: true
                      key: ENTER_HOMEPAGE
                      value: '181'
                    - description: ''
                      is_valid: true
                      key: FEED_LIVE_HOMEPAGE
                      value: '120'
                    - description: ''
                      is_valid: true
                      key: FOLLOW_ACTION
                      value: '46'
                    - description: ''
                      is_valid: true
                      key: FOLLOW_LIVE_ENTER
                      value: '250'
                    - description: ''
                      is_valid: true
                      key: FOLLOW_VIDEO_PLAY_FINISH
                      value: '252'
                    - description: ''
                      is_valid: true
                      key: FORM
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: FORM_ANSWER
                      value: '32'
                    - description: ''
                      is_valid: true
                      key: FORM_BUTTON
                      value: '151'
                    - description: ''
                      is_valid: true
                      key: FORM_CONNECT
                      value: '31'
                    - description: ''
                      is_valid: true
                      key: FORM_DEEP
                      value: '36'
                    - description: ''
                      is_valid: true
                      key: FORM_DETAIL
                      value: '150'
                    - description: ''
                      is_valid: true
                      key: GAME_ADDICTION
                      value: '25'
                    - description: ''
                      is_valid: true
                      key: HIGHVALUE_CLUE
                      value: '42'
                    - description: ''
                      is_valid: true
                      key: IDCARD_INFORMATION
                      value: '106'
                    - description: ''
                      is_valid: true
                      key: IMPRESSION_LEVEL_AD_REVENUE
                      value: '312'
                    - description: ''
                      is_valid: true
                      key: INITIATE_ORDER
                      value: '267'
                    - description: ''
                      is_valid: true
                      key: INSTALL_FINISH
                      value: '15'
                    - description: ''
                      is_valid: true
                      key: INTENTION_CLUE
                      value: '41'
                    - description: ''
                      is_valid: true
                      key: INVALID_CLUE
                      value: '40'
                    - description: ''
                      is_valid: true
                      key: IN_APP_AD_CLICK
                      value: '132'
                    - description: ''
                      is_valid: true
                      key: IN_APP_AD_IMPR
                      value: '133'
                    - description: ''
                      is_valid: true
                      key: IN_APP_CART
                      value: '22'
                    - description: ''
                      is_valid: true
                      key: IN_APP_DETAIL_UV
                      value: '29'
                    - description: ''
                      is_valid: true
                      key: IN_APP_ORDER
                      value: '20'
                    - description: ''
                      is_valid: true
                      key: IN_APP_PAY
                      value: '23'
                    - description: ''
                      is_valid: true
                      key: IN_APP_UV
                      value: '21'
                    - description: ''
                      is_valid: true
                      key: LANDING_PAGE_VIEW
                      value: '271'
                    - description: ''
                      is_valid: true
                      key: LAUNCH_APP
                      value: '129'
                    - description: ''
                      is_valid: true
                      key: LIKE_ACTION
                      value: '45'
                    - description: ''
                      is_valid: true
                      key: LINK_ACTION
                      value: '51'
                    - description: ''
                      is_valid: true
                      key: LIVE_APPOINTMENT
                      value: '249'
                    - description: ''
                      is_valid: true
                      key: LIVE_CARD_CLICK
                      value: '215'
                    - description: ''
                      is_valid: true
                      key: LIVE_CLICK_PRODUCT_ACTION
                      value: '167'
                    - description: ''
                      is_valid: true
                      key: LIVE_COMMENT_ACTION
                      value: '164'
                    - description: ''
                      is_valid: true
                      key: LIVE_ENTER_ACTION
                      value: '171'
                    - description: ''
                      is_valid: true
                      key: LIVE_FOLLOW_ACTION
                      value: '163'
                    - description: ''
                      is_valid: true
                      key: LIVE_GIFT_ACTION
                      value: '165'
                    - description: ''
                      is_valid: true
                      key: LIVE_HOMEPAGE
                      value: '111'
                    - description: ''
                      is_valid: true
                      key: LIVE_JOIN_GROUP
                      value: '248'
                    - description: ''
                      is_valid: true
                      key: LIVE_NATIVE_ACTION
                      value: '162'
                    - description: ''
                      is_valid: true
                      key: LIVE_REDIRECT_TO_STORE_ACTION
                      value: '168'
                    - description: ''
                      is_valid: true
                      key: LIVE_ROOM_ACTION
                      value: '254'
                    - description: ''
                      is_valid: true
                      key: LIVE_SLIDECART_CLICK_ACTION
                      value: '166'
                    - description: ''
                      is_valid: true
                      key: LIVE_STAY_TIME
                      value: '186'
                    - description: ''
                      is_valid: true
                      key: LIVE_SUCCESSORDER_ACTION
                      value: '172'
                    - description: ''
                      is_valid: true
                      key: LIVE_SUCESSORDER_PAY
                      value: '169'
                    - description: ''
                      is_valid: true
                      key: LOAN
                      value: '119'
                    - description: ''
                      is_valid: true
                      key: LOAN_APPLY
                      value: '118'
                    - description: ''
                      is_valid: true
                      key: LOAN_COMPLETION
                      value: '103'
                    - description: ''
                      is_valid: true
                      key: LOAN_CREDIT
                      value: '105'
                    - description: ''
                      is_valid: true
                      key: LOCATION_ACTION
                      value: '48'
                    - description: ''
                      is_valid: true
                      key: LOGIN
                      value: '114'
                    - description: ''
                      is_valid: true
                      key: LOGIN_ACTION
                      value: '136'
                    - description: ''
                      is_valid: true
                      key: LONGTERM_CUSTOMER
                      value: '130'
                    - description: ''
                      is_valid: true
                      key: LOTTERY
                      value: '11'
                    - description: ''
                      is_valid: true
                      key: LT_ROI
                      value: '110'
                    - description: ''
                      is_valid: true
                      key: MAP_SEARCH
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: MESSAGE
                      value: '94'
                    - description: ''
                      is_valid: true
                      key: MESSAGE_ACTION
                      value: '63'
                    - description: ''
                      is_valid: true
                      key: MESSAGE_CLICK
                      value: '177'
                    - description: ''
                      is_valid: true
                      key: MESSAGE_JOIN_GROUP
                      value: '247'
                    - description: ''
                      is_valid: true
                      key: MESSAGE_SELF_SERVICE
                      value: '188'
                    - description: ''
                      is_valid: true
                      key: MESSAGE_SEND
                      value: '310'
                    - description: ''
                      is_valid: true
                      key: MULTIPLE
                      value: '100'
                    - description: ''
                      is_valid: true
                      key: MULTI_NATIVE_ACTION
                      value: '102'
                    - description: ''
                      is_valid: true
                      key: NATIVE_ACTION
                      value: '44'
                    - description: ''
                      is_valid: true
                      key: NAV_BAR
                      value: '149'
                    - description: ''
                      is_valid: true
                      key: NEW_FOLLOW_ACTION
                      value: '187'
                    - description: ''
                      is_valid: true
                      key: NEXT_DAY_OPEN
                      value: '39'
                    - description: ''
                      is_valid: true
                      key: NOVEL_CHAPTER
                      value: '115'
                    - description: ''
                      is_valid: true
                      key: ON_WEB_CART
                      value: '147'
                    - description: ''
                      is_valid: true
                      key: ON_WEB_DETAIL
                      value: '146'
                    - description: ''
                      is_valid: true
                      key: ON_WEB_ORDER
                      value: '148'
                    - description: ''
                      is_valid: true
                      key: ON_WEB_REGISTER
                      value: '145'
                    - description: ''
                      is_valid: true
                      key: OTHER
                      value: '99'
                    - description: ''
                      is_valid: true
                      key: OTO_PAY
                      value: '229'
                    - description: ''
                      is_valid: true
                      key: OTO_STAY_TIME
                      value: '228'
                    - description: ''
                      is_valid: true
                      key: PAGE_VIEW
                      value: '93'
                    - description: ''
                      is_valid: true
                      key: PAGE_VISIT
                      value: '314'
                    - description: ''
                      is_valid: true
                      key: PAID_CLUE
                      value: '43'
                    - description: ''
                      is_valid: true
                      key: PAY_ACTION
                      value: '137'
                    - description: ''
                      is_valid: true
                      key: PAY_ROI
                      value: '160'
                    - description: ''
                      is_valid: true
                      key: PERSONAL_INFORMATION
                      value: '108'
                    - description: ''
                      is_valid: true
                      key: PHONE
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: PHONE_BUTTON
                      value: '153'
                    - description: ''
                      is_valid: true
                      key: PHONE_CONFIRM
                      value: '16'
                    - description: ''
                      is_valid: true
                      key: PHONE_CONNECT
                      value: '17'
                    - description: ''
                      is_valid: true
                      key: PHONE_DETAIL
                      value: '152'
                    - description: ''
                      is_valid: true
                      key: PHONE_EFFECTIVE
                      value: '18'
                    - description: ''
                      is_valid: true
                      key: PREFERRED_LEAD
                      value: '315'
                    - description: ''
                      is_valid: true
                      key: PREMIUM_PAYMENT
                      value: '174'
                    - description: ''
                      is_valid: true
                      key: PRE_LOAN_CREDIT
                      value: '104'
                    - description: ''
                      is_valid: true
                      key: PURCHASE_OF_GOODS
                      value: '156'
                    - description: ''
                      is_valid: true
                      key: QQ
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: RATE
                      value: '138'
                    - description: ''
                      is_valid: true
                      key: READING_TIME
                      value: '117'
                    - description: ''
                      is_valid: true
                      key: REDIRECT
                      value: '95'
                    - description: ''
                      is_valid: true
                      key: REDIRECT_TO_SHOP
                      value: '50'
                    - description: ''
                      is_valid: true
                      key: REDIRECT_TO_STORE
                      value: '113'
                    - description: ''
                      is_valid: true
                      key: REGISTER_ACTION
                      value: '139'
                    - description: ''
                      is_valid: true
                      key: RESERVATION
                      value: '62'
                    - description: ''
                      is_valid: true
                      key: RSS
                      value: '30'
                    - description: ''
                      is_valid: true
                      key: SALES_LEAD
                      value: '24'
                    - description: ''
                      is_valid: true
                      key: SEARCH
                      value: '140'
                    - description: ''
                      is_valid: true
                      key: SEVEN_DAY_OPEN
                      value: '227'
                    - description: ''
                      is_valid: true
                      key: SHARE_ACTION
                      value: '65'
                    - description: ''
                      is_valid: true
                      key: SHOPPING
                      value: '96'
                    - description: ''
                      is_valid: true
                      key: SHOPPING_ACTION
                      value: '49'
                    - description: ''
                      is_valid: true
                      key: SHOPPING_CART
                      value: '182'
                    - description: ''
                      is_valid: true
                      key: START_TRIAL
                      value: '142'
                    - description: ''
                      is_valid: true
                      key: STAY_TIME
                      value: '125'
                    - description: ''
                      is_valid: true
                      key: SUBSCRIBE
                      value: '143'
                    - description: ''
                      is_valid: true
                      key: SUCCESSORDER_ACTION
                      value: '53'
                    - description: ''
                      is_valid: true
                      key: SUCCESSORDER_PAY
                      value: '112'
                    - description: ''
                      is_valid: true
                      key: UG_EFFECTIVE_ACTION
                      value: '245'
                    - description: ''
                      is_valid: true
                      key: UG_EFFECTIVE_DEAL
                      value: '244'
                    - description: ''
                      is_valid: true
                      key: UG_EFFECTIVE_SHARE
                      value: '246'
                    - description: ''
                      is_valid: true
                      key: UG_EFFECTIVE_SPEECH
                      value: '243'
                    - description: ''
                      is_valid: true
                      key: UG_ROI
                      value: '178'
                    - description: ''
                      is_valid: true
                      key: UNLOCK_ACHIEVEMENT
                      value: '144'
                    - description: ''
                      is_valid: true
                      key: UPDATE_LEVEL
                      value: '37'
                    - description: ''
                      is_valid: true
                      key: VIEW
                      value: '7'
                    - description: ''
                      is_valid: true
                      key: VOTE
                      value: '12'
                    - description: ''
                      is_valid: true
                      key: XPATH
                      value: '6'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 4
                location_ids:
                  description: IDs of the locations that you want to target.
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                objective_type:
                  description: 'Campaign objective. The current API endpoint only supports Traffic and Website conversions objectives. For enum values and descriptions, see Objectives. Note: This API is being revamped to support larger function scope and more accurate result. Please stay tuned for updates.'
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1815013888391169
                    enum_package_name: ToolCampaignObjectiveType
                    enums:
                    - description: ''
                      is_valid: false
                      key: APP_INSTALL
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: APP_PROMOTION
                      value: '16'
                    - description: ''
                      is_valid: false
                      key: CATALOG_SALES
                      value: '6'
                    - description: ''
                      is_valid: false
                      key: CONVERSIONS
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: ENGAGEMENT
                      value: '9'
                    - description: ''
                      is_valid: false
                      key: EST_AD
                      value: '51'
                    - description: ''
                      is_valid: true
                      key: LEAD_GENERATION
                      value: '8'
                    - description: ''
                      is_valid: false
                      key: NONE_TYPE
                      value: '0'
                    - description: ''
                      is_valid: true
                      key: PRODUCT_SALES
                      value: '15'
                    - description: ''
                      is_valid: true
                      key: REACH
                      value: '5'
                    - description: ''
                      is_valid: false
                      key: RF_APP_INSTALL
                      value: '13'
                    - description: ''
                      is_valid: false
                      key: RF_ENGAGEMENT
                      value: '12'
                    - description: ''
                      is_valid: true
                      key: RF_REACH
                      value: '7'
                    - description: ''
                      is_valid: false
                      key: RF_TRAFFIC
                      value: '11'
                    - description: ''
                      is_valid: false
                      key: RF_VIDEO_VIEW
                      value: '10'
                    - description: ''
                      is_valid: false
                      key: SS_HTC_AD
                      value: '52'
                    - description: ''
                      is_valid: false
                      key: TOPVIEW_REACH
                      value: '50'
                    - description: ''
                      is_valid: true
                      key: TRAFFIC
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: VIDEO_VIEWS
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: WEB_CONVERSIONS
                      value: '3'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 5
              required:
              - advertiser_id
              - location_ids
              - objective_type
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get a suggested bid [Tool Bid Recommend](https://ads.tiktok.com/marketing_api/docs?id=1737107845597186)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.body.advertiser_id
            type: number
          - name: campaign_id
            required: false
            source: $.http.body.campaign_id
            type: number
          - children:
            - type: number
            is_expand: true
            name: location_ids
            required: false
            source: $.http.body.location_ids[]
            sub_type: number
            type: array
          - name: external_action
            required: false
            source: $.http.body.external_action
            type: number
          - name: objective_type
            required: true
            source: $.http.body.objective_type
            type: number
          - children:
            - name: app_id
              required: false
              source: $.context.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.context.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.context.developer_id
              type: number
            is_expand: true
            name: context_info
            required: false
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.body.advertiser_id
          campaign_id: $.http.body.campaign_id
          context_info:
            app_id: $.context.app_id
            core_user_id: $.context.core_user_id
            developer_id: $.context.developer_id
          external_action: $.http.body.external_action
          location_ids: $.http.body.location_ids[]
          objective_type: $.http.body.objective_type
        response_cookie: []
        response_header: []
        response_rule:
          bid: $.rpc.output.bid
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/brand_safety/partner/authorize/status/:
    get:
      operationId: Tool Brand_safety Partner Authorize Status
      parameters:
      - description: 'Brand Safety post bid measurement partner. Enum values: Zefr.'
        in: query
        name: partner
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: null
            enum_package_name: null
            enums:
            - description: ''
              is_valid: true
              key: Zefr
              value: '1'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.Partner
        x-open-field-id: 1
      - description: Advertiser ID
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.AdvertiserId
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the authorization status of a Brand Safety partner [Tool Brand_safety Partner Authorize Status](https://ads.tiktok.com/marketing_api/docs?id=1738456743621634)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: Partner
            required: false
            source: $.http.query.partner
            type: number
          - name: AdvertiserId
            required: false
            source: $.http.query.advertiser_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          AdvertiserId: $.http.query.advertiser_id
          Partner: $.http.query.partner
        response_cookie: []
        response_header: []
        response_rule:
          status: $.rpc.output.Status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/carrier/:
    get:
      operationId: Tool Carrier
      parameters:
      - description: Advertiser ID
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get carriers. [Tool Carrier](https://business-api.tiktok.com/portal/docs?id=1737168013095938)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
        response_cookie: []
        response_header: []
        response_rule:
          countries[][]:
          - carriers[][]:
            - carrier_id: $.rpc.output.countries[].carriers[].carrier_id
              in_use: $.rpc.output.countries[].carriers[].in_use
              name: $.rpc.output.countries[].carriers[].name
              value[][]:
              - hni_id: $.rpc.output.countries[].carriers[].value[].hni_id
                in_use: $.rpc.output.countries[].carriers[].value[].in_use
            country_code: $.rpc.output.countries[].country_code
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/contextual_tag/get/:
    get:
      operationId: Tool Contextual_tag Get
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - description: Advertising objective. Only supports REACH, VIDEO_VIEWS, RF_REACH.
        in: query
        name: objective_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: null
            enum_package_name: null
            enums:
            - description: ''
              is_valid: true
              key: REACH
              value: '5'
            - description: ''
              is_valid: true
              key: VIDEO_VIEWS
              value: '4'
            - description: ''
              is_valid: true
              key: RF_REACH
              value: '7'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.objective_type
        x-open-field-id: 2
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.region_codes
        description: Country or region codes.
        in: query
        name: region_codes
        required: false
        x-open-field-id: 3
      - description: 'Brand safety type. Default value: STANDARD_INVENTORY. Enum values: EXPANDED_INVENTORY: Use TikTok''s brand safety solution. Expanded inventory means that your ads will appear next to content where most inappropriate content has been removed, and may contain some mature themes. In the next API version, EXPANDED_INVENTORY will replace NO_BRAND_SAFETY and will be the default brand safety option. STANDARD_INVENTORY: Use TikTok''s brand safety solution. Standard inventory means that ads will appear next to content that is appropriate for most brands. LIMITED_INVENTORY: Use TikTok''s brand safety solution. Limited inventory means that your ads will not appear next to content that contains mature themes. Note: Pre-bid first-party Brand Safety solutions for APP_PROMOTION, WEB_CONVERSIONS, TRAFFIC, LEAD_GENERATION objectives in Auction ads, and pre-bid third-party brand safety solutions are currently allowlist-only features. If you would like to access them, please contact your TikTok representative. See Brand safety to learn about the supported advertising objectives for pre-bid Brand Safety filtering.'
        in: query
        name: brand_safety_type
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1799789799590914
            enum_package_name: brand_safety_type
            enums:
            - description: ''
              is_valid: true
              key: EXPANDED_INVENTORY
              value: '7'
            - description: ''
              is_valid: true
              key: LIMITED_INVENTORY
              value: '6'
            - description: ''
              is_valid: true
              key: NO_BRAND_SAFETY
              value: '1'
            - description: ''
              is_valid: true
              key: STANDARD_INVENTORY
              value: '5'
            - description: ''
              is_valid: true
              key: THIRD_PARTY
              value: '4'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.brand_safety_type
        x-open-field-id: 4
      - description: 'Note: When objective_type is specified as RF_REACH, use this field to set the campaign as a TikTok Pulse campaign, then you can get available premium contextual tags. Do not pass in this field when objective_type is not specified as RF_REACH. Enum values: STANDARD (Reach & Frequency campaign), PULSE（TikTok Pulse campaign）'
        in: query
        name: rf_campaign_type
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1799789905918978
            enum_package_name: rf_campaign_type
            enums:
            - description: ''
              is_valid: true
              key: PULSE
              value: '1'
            - description: ''
              is_valid: true
              key: STANDARD
              value: '0'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.rf_campaign_type
        x-open-field-id: 5
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get available contextual tags [Tool Contextual_tag Get](https://ads.tiktok.com/marketing_api/docs?id=1747747118654465)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - name: objective_type
            required: true
            source: $.http.query.objective_type
            type: number
          - children:
            - type: string
            is_expand: true
            name: region_codes
            required: false
            source: $.http.query.region_codes[]
            sub_type: string
            type: array
          - name: brand_safety_type
            required: false
            source: $.http.query.brand_safety_type
            type: number
          - name: rf_campaign_type
            required: false
            source: $.http.query.rf_campaign_type
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          brand_safety_type: $.http.query.brand_safety_type
          objective_type: $.http.query.objective_type
          region_codes: $.http.query.region_codes[]
          rf_campaign_type: $.http.query.rf_campaign_type
        response_cookie: []
        response_header: []
        response_rule:
          contextual_tag_list[][]:
          - content_lineup_type: $.rpc.output.contextual_tag_list[].content_lineup_type
            contextual_tag_id: $.rpc.output.contextual_tag_list[].contextual_tag_id
            description: $.rpc.output.contextual_tag_list[].description
            name: $.rpc.output.contextual_tag_list[].name
            objective_types: $.rpc.output.contextual_tag_list[].objective_types
            region_codes: $.rpc.output.contextual_tag_list[].region_codes
            status: $.rpc.output.contextual_tag_list[].status
            type: $.rpc.output.contextual_tag_list[].type
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/contextual_tag/info/:
    get:
      operationId: Tool Contextual_tag Info
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-convert:
                - int64(%s)
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.contextual_tag_ids
        description: Contextual tag IDs.
        in: query
        name: contextual_tag_ids
        required: true
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get details of contextual tags [Tool Contextual_tag Info](https://ads.tiktok.com/marketing_api/docs?id=1747747180830722)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - type: number
            is_expand: true
            name: contextual_tag_ids
            required: true
            source: $.http.query.contextual_tag_ids[]
            sub_type: number
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          contextual_tag_ids: $.http.query.contextual_tag_ids[]
        response_cookie: []
        response_header: []
        response_rule:
          contextual_tag_list[][]:
          - content_lineup_type: $.rpc.output.contextual_tag_list[].content_lineup_type
            contextual_tag_id: $.rpc.output.contextual_tag_list[].contextual_tag_id
            description: $.rpc.output.contextual_tag_list[].description
            name: $.rpc.output.contextual_tag_list[].name
            objective_types: $.rpc.output.contextual_tag_list[].objective_types
            region_codes: $.rpc.output.contextual_tag_list[].region_codes
            status: $.rpc.output.contextual_tag_list[].status
            type: $.rpc.output.contextual_tag_list[].type
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/hashtag/get/:
    get:
      operationId: Tool Hashtag Get
      parameters:
      - description: Advertiser ID
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-convert:
                - int64(%s)
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: List of keyword IDs
        in: query
        name: keyword_ids
        required: true
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get targeting hashtags by ID [Tool Hashtag Get](https://ads.tiktok.com/marketing_api/docs?id=1736280889167874)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - type: number
            is_expand: true
            name: keyword_ids
            required: false
            source: $.http.query.keyword_ids[]
            sub_type: number
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          keyword_ids: $.http.query.keyword_ids[]
        response_cookie: []
        response_header: []
        response_rule:
          keywords_status[][]:
          - keyword: $.rpc.output.keywords_status[].keyword
            keyword_id: $.rpc.output.keywords_status[].keyword_id
            keyword_status: $.rpc.output.keywords_status[].status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/hashtag/recommend/:
    get:
      operationId: Tool Hashtag Recommend
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              maxItems: 10
              minItems: 1
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.keywords
        description: 'Keywords that you want to get recommended hashtags for. If you specify multiple unrelated keywords and set operator to AND, it is possible that no recommended hashtags are returned. Max size: 10.'
        in: query
        name: keywords
        required: true
        x-open-field-id: 2
      - description: 'The operator to be used between the keywords. Enum values: AND: Recommended hashtags will be generated based on all the keywords specified in keywords. OR: Recommended hashtags will be generated separately for each individual keyword in keywords. Default value: AND.'
        in: query
        name: operator
        required: false
        schema:
          default: AND
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.operator
          x-open-validate:
          - error_msg: 'Operator: Must be one of: AND, OR.'
            expr: '%s in ["AND", "OR"]'
        x-open-field-id: 3
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Search for targeting hashtags [Tool Hashtag Recommend](https://ads.tiktok.com/marketing_api/docs?id=1736271339521025)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - type: string
            is_expand: true
            name: keywords
            required: true
            source: $.http.query.keywords[]
            sub_type: string
            type: array
          - name: operator
            required: false
            source: $.http.query.operator
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          keywords: $.http.query.keywords[]
          operator: $.http.query.operator
        response_cookie: []
        response_header: []
        response_rule:
          recommend_keywords[][]:
          - input_keyword: $.rpc.output.recommend_keywords[].input_keyword
            keyword: $.rpc.output.recommend_keywords[].keyword
            keyword_id: $.rpc.output.recommend_keywords[].keyword_id
            keyword_status: $.rpc.output.recommend_keywords[].keyword_status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /tool/interest_keyword/get/:
    get:
      operationId: Tool Interest_keyword Get
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              properties:
                audience_type:
                  default: GENERAL_INTEREST
                  description: 'The audience type that you want to filter by. Enum values: GENERAL_INTEREST: General interest. The audiences have a general, long-term interest in a video category. PURCHASE_INTENTION: Purchase intent. The audiences'' recent behavior suggests they may buy something related to a content category. Default value: GENERAL_INTEREST.'
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1802435246858242
                    enum_package_name: KeywordScene
                    enums:
                    - description: ''
                      is_valid: true
                      key: GENERAL_INTEREST
                      value: '12'
                    - description: ''
                      is_valid: false
                      key: HASHTAG_TARGETING
                      value: '13'
                    - description: ''
                      is_valid: true
                      key: PURCHASE_INTENTION
                      value: '14'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.audience_type
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: Filtering conditions.
        in: query
        name: filtering
        required: false
        x-open-field-id: 2
      - content:
          application/json:
            schema:
              items:
                properties:
                  keyword_id:
                    description: Additional interest category ID.
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                    x-open-field-id: 1
                    x-open-source: $.http.query.keyword_query[].keyword_id
                  language:
                    default: en
                    description: 'Additional interest category language. Default value: en. Supported languages: fr, id, it, ja, ms, ar, vi, en, ru, es, th, tr, hi, zh, de, ko.'
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: 1802434494012417
                      enum_package_name: Language
                      enums:
                      - description: ''
                        is_valid: true
                        key: ar
                        value: '15'
                      - description: ''
                        is_valid: true
                        key: de
                        value: '3'
                      - description: ''
                        is_valid: true
                        key: en
                        value: '1'
                      - description: ''
                        is_valid: true
                        key: es
                        value: '4'
                      - description: ''
                        is_valid: true
                        key: fr
                        value: '5'
                      - description: ''
                        is_valid: true
                        key: hi
                        value: '6'
                      - description: ''
                        is_valid: true
                        key: id
                        value: '7'
                      - description: ''
                        is_valid: true
                        key: it
                        value: '8'
                      - description: ''
                        is_valid: true
                        key: ja
                        value: '2'
                      - description: ''
                        is_valid: true
                        key: ko
                        value: '9'
                      - description: ''
                        is_valid: true
                        key: ms
                        value: '10'
                      - description: ''
                        is_valid: true
                        key: ru
                        value: '11'
                      - description: ''
                        is_valid: true
                        key: th
                        value: '12'
                      - description: ''
                        is_valid: true
                        key: tr
                        value: '13'
                      - description: ''
                        is_valid: true
                        key: vi
                        value: '14'
                      - description: ''
                        is_valid: true
                        key: zh
                        value: '0'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int32
                    x-open-field-id: 2
                    x-open-source: $.http.query.keyword_query[].language
                required:
                - keyword_id
                type: object
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              maxItems: 50
              minItems: 1
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.keyword_query
        description: Information of the additional interest category you want to get. Max size = 50.
        in: query
        name: keyword_query
        required: false
        x-open-field-id: 3
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get additional interest categories by ID [Tool Interest_keyword Get](https://ads.tiktok.com/marketing_api/docs?id=1763590894544897)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - name: audience_type
              required: false
              source: $.http.query.filtering.audience_type
              type: number
            is_expand: true
            name: filtering
            required: false
            type: object
          - children:
            - children:
              - name: keyword_id
                required: true
                source: $.http.query.keyword_query[].keyword_id
                type: number
              - name: language
                required: false
                source: $.http.query.keyword_query[].language
                type: number
              is_expand: true
              type: object
            is_expand: true
            name: keyword_query
            required: false
            sub_type: object
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          filtering:
            audience_type: $.http.query.filtering.audience_type
          keyword_query[][]:
          - keyword_id: $.http.query.keyword_query[].keyword_id
            language: $.http.query.keyword_query[].language
        response_cookie: []
        response_header: []
        response_rule:
          keywords[][]:
          - keyword: $.rpc.output.keywords[].keyword
            keyword_id: $.rpc.output.keywords[].keyword_id
            status: $.rpc.output.keywords[].status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /tool/open_url/:
    get:
      operationId: Tool Open_url
      parameters:
      - description: Advertiser ID
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - description: Open URL that you want to get the internal link for.
        in: query
        name: url
        required: true
        schema:
          format: url
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.url
        x-open-field-id: 2
      - description: 'Type of the open TikTok URL. Enum: USER_PROFILE VIDEO: Video detail page HASHTAG_CHALLENGE: Hashtag challenge page MUSIC: Music page STICKER: Sticker (special effect) page STICKER_SHOOTER: Shoot a video with a sticker (special effect).'
        in: query
        name: url_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.url_type
        x-open-field-id: 3
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get a TikTok in-app link [Tool Open_url](https://ads.tiktok.com/marketing_api/docs?id=1738457335681026)
      tags:
      - Tool
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - name: url
            required: true
            source: $.http.query.url
            type: string
          - name: url_type
            required: true
            source: $.http.query.url_type
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          url: $.http.query.url
          url_type: $.http.query.url_type
        response_cookie: []
        response_header: []
        response_rule:
          open_url: $.rpc.output.open_url
          supported_regions: $.rpc.output.supported_regions
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /tool/os_version/:
    get:
      operationId: Tool Os_version
      parameters:
      - description: Advertiser ID.
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
        x-open-field-id: 1
      - description: 'OS type. Enum values: ANDROID,IOS.'
        in: query
        name: os_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1802236567813122
            enum_package_name: OsVersionType
            enums:
            - description: ''
              is_valid: true
              key: ANDROID
              value: '1'
            - description: ''
              is_valid: true
              key: IOS
              value: '2'
            - description: ''
              is_valid: false
              key: IOS14_MINUS
              value: '4'
            - description: ''
              is_valid: false
              key: IOS14_PLUS
              value: '3'
            key_format: string
[...]
