openapi: 3.2.0
info:
  title: TikTok API for Business — Marketing BC API
  description: TikTok API for Business (Marketing API) v1.3. This document is a mechanical union of the 202 per-operation OpenAPI 3.0.1 documents TikTok publishes in yml_files/ of its own SDK repository (https://github.com/tiktok/tiktok-business-api-sdk), which are the swagger-codegen inputs for TikTok's first-party Java/Python/JavaScript SDKs. Operation content (paths, parameters, responses, tags and the x-open-* extensions) is preserved verbatim; only info, servers and components.securitySchemes were written by API Evangelist, because the per-operation fragments carry placeholder info blocks and no servers block. The servers values are the production and sandbox base URLs TikTok documents at https://business-api.tiktok.com/portal/docs?id=1738855331457026 .
  version: v1.3
  contact:
    name: TikTok API for Business support
    url: https://business-api.tiktok.com/portal/docs?id=1795190020378625
  termsOfService: https://business-api.tiktok.com/portal/docs?id=1737191804348417
  x-source: https://github.com/tiktok/tiktok-business-api-sdk/tree/main/yml_files
  x-harvested-by: API Evangelist enrichment pipeline
  x-harvested: '2026-08-13'
servers:
- url: https://business-api.tiktok.com/open_api/v1.3
  description: Production
- url: https://sandbox-ads.tiktok.com/open_api/v1.3
  description: Sandbox
security:
- AccessToken: []
tags:
- name: BC
paths:
  /bc/account/transaction/get/:
    get:
      operationId: Bc Account Transaction Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: child_bc_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.child_bc_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: transaction_level
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1807919387053057
            enum_package_name: TransactionLevel
            enums:
            - description: ''
              is_valid: true
              key: ADVERTISER
              value: '2'
            - description: ''
              is_valid: true
              key: BC
              value: '1'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.transaction_level
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                account_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                account_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                billing_types:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                end_time:
                  description: ''
                  format: datetime
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                owner_of_account:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                start_time:
                  description: ''
                  format: datetime
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 6
                transaction_types:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the transaction records of a BC or ad accounts. [BC Account Transaction Get](https://business-api.tiktok.com/portal/docs?id=1792849810925569)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: false
            source: $.http.query.bc_id
            type: number
          - name: child_bc_id
            required: false
            source: $.http.query.child_bc_id
            type: number
          - name: transaction_level
            required: false
            source: $.http.query.transaction_level
            type: number
          - children:
            - type: string
            is_expand: true
            name: transaction_types
            required: false
            source: $.http.query.filtering.transaction_types[]
            sub_type: string
            type: array
          - children:
            - type: string
            is_expand: true
            name: owner_of_account
            required: false
            source: $.http.query.filtering.owner_of_account[]
            sub_type: string
            type: array
          - children:
            - type: number
            is_expand: true
            name: account_ids
            required: false
            source: $.http.query.filtering.account_ids[]
            sub_type: number
            type: array
          - name: account_name
            required: false
            source: $.http.query.filtering.account_name
            type: string
          - children:
            - type: string
            is_expand: true
            name: billing_types
            required: false
            source: $.http.query.filtering.billing_types[]
            sub_type: string
            type: array
          - name: start_time
            required: false
            source: $.http.query.filtering.start_time
            type: string
          - name: end_time
            required: false
            source: $.http.query.filtering.end_time
            type: string
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          account_ids: $.http.query.filtering.account_ids[]
          account_name: $.http.query.filtering.account_name
          bc_id: $.http.query.bc_id
          billing_types: $.http.query.filtering.billing_types[]
          child_bc_id: $.http.query.child_bc_id
          end_time: $.http.query.filtering.end_time
          owner_of_account: $.http.query.filtering.owner_of_account[]
          page: $.http.query.page
          page_size: $.http.query.page_size
          start_time: $.http.query.filtering.start_time
          transaction_level: $.http.query.transaction_level
          transaction_types: $.http.query.filtering.transaction_types[]
        response_cookie: []
        response_header: []
        response_rule:
          page_info: $.rpc.output.page_info
          transaction_list: $.rpc.output.transaction_list
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/admin/delete/:
    post:
      operationId: Bc Asset Admin Delete
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                asset_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  minItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.asset_ids
                asset_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803356502782978
                    enum_package_name: BCAsset
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADVERTISER
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: CATALOG
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: DOMAIN
                      value: '6'
                    - description: ''
                      is_valid: true
                      key: LEAD
                      value: '9'
                    - description: ''
                      is_valid: true
                      key: PIXEL
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: STOREFRONT
                      value: '5'
                    - description: ''
                      is_valid: true
                      key: TIKTOK_SHOP
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: TT_ACCOUNT
                      value: '8'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 3
                  x-open-source: $.http.body.asset_type
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                child_bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.child_bc_id
              required:
              - bc_id
              - asset_type
              - asset_ids
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Delete assets. [BC Asset Admin Delete](https://business-api.tiktok.com/portal/docs?id=1739657251102722)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: child_bc_id
            required: false
            source: $.http.body.child_bc_id
            type: number
          - name: asset_type
            required: true
            source: $.http.body.asset_type
            type: number
          - children:
            - type: number
            name: asset_ids
            required: false
            source: $.http.body.asset_ids
            sub_type: number
            type: array
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_ids: $.http.body.asset_ids
          asset_type: $.http.body.asset_type
          bc_id: $.http.body.bc_id
          child_bc_id: $.http.body.child_bc_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/admin/get/:
    get:
      operationId: Bc Asset Admin Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: child_bc_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.child_bc_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: asset_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1803356502782978
            enum_package_name: BCAsset
            enums:
            - description: ''
              is_valid: true
              key: ADVERTISER
              value: '1'
            - description: ''
              is_valid: true
              key: CATALOG
              value: '4'
            - description: ''
              is_valid: false
              key: DOMAIN
              value: '6'
            - description: ''
              is_valid: true
              key: LEAD
              value: '9'
            - description: ''
              is_valid: true
              key: PIXEL
              value: '3'
            - description: ''
              is_valid: true
              key: STOREFRONT
              value: '5'
            - description: ''
              is_valid: true
              key: TIKTOK_SHOP
              value: '10'
            - description: ''
              is_valid: true
              key: TT_ACCOUNT
              value: '8'
            key_format: string
            strict: true
            use_part: true
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.asset_type
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                advertiser_show_status:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1800605795462145
                    enum_package_name: ShowAccountStatus
                    enums:
                    - description: ''
                      is_valid: true
                      key: SHOW_ACCOUNT_STATUS_APPROVED
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: SHOW_ACCOUNT_STATUS_IN_REVIEW
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: SHOW_ACCOUNT_STATUS_NOT_APPROVED
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: SHOW_ACCOUNT_STATUS_PUNISHED
                      value: '4'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.advertiser_show_status
                keyword:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.query.filtering.keyword
                relation_status:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803448727394305
                    enum_package_name: BCAssetRelationStatus
                    enums:
                    - description: ''
                      is_valid: true
                      key: BOUND
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: PENDING
                      value: '4'
                    - description: 拒绝
                      is_valid: false
                      key: REJECT
                      value: '5'
                    - description: 被拒绝
                      is_valid: true
                      key: REJECTED
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: UNBOUND
                      value: '2'
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 4
                  x-open-source: $.http.query.filtering.relation_status
                relation_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803448641906690
                    enum_package_name: AssetRelationType
                    enums:
                    - description: ''
                      is_valid: true
                      key: OWNER_BC
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: OWNER_INDIVIDUAL
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: OWNER_PARTNER
                      value: '2'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 3
                  x-open-source: $.http.query.filtering.relation_type
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 50
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get assets of a Business Center as admins. [BC Asset Admin Get](https://business-api.tiktok.com/portal/docs?id=1739433007779841)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: child_bc_id
            required: false
            source: $.http.query.child_bc_id
            type: number
          - name: asset_type
            required: true
            source: $.http.query.asset_type
            type: number
          - children:
            - name: advertiser_show_status
              required: false
              source: $.http.query.filtering.advertiser_show_status
              type: number
            - name: keyword
              required: false
              source: $.http.query.filtering.keyword
              type: string
            - name: relation_type
              required: false
              source: $.http.query.filtering.relation_type
              type: number
            - name: relation_status
              required: false
              source: $.http.query.filtering.relation_status
              type: number
            name: filtering
            required: false
            source: $.http.query.filtering
            type: object
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_type: $.http.query.asset_type
          bc_id: $.http.query.bc_id
          child_bc_id: $.http.query.child_bc_id
          filtering: $.http.query.filtering
          page: $.http.query.page
          page_size: $.http.query.page_size
        response_cookie: []
        response_header: []
        response_rule:
          list[][]:
          - ad_creation_eligible: $.rpc.output.assets[].ad_creation_eligible
            advertiser_account_type: $.rpc.output.assets[].advertiser_account_type
            advertiser_role: $.rpc.output.assets[].advertiser_role
            advertiser_status: $.rpc.output.assets[].advertiser_status
            asset_id: $.rpc.output.assets[].asset_id
            asset_name: $.rpc.output.assets[].asset_name
            asset_type: $.rpc.output.assets[].asset_type
            catalog_role: $.rpc.output.assets[].catalog_role
            owner_bc_name: $.rpc.output.assets[].owner_bc_name
            pixel_code: $.rpc.output.assets[].pixel_code
            relation_status: $.rpc.output.assets[].relation_status
            relation_type: $.rpc.output.assets[].relation_type
            store_role: $.rpc.output.assets[].shop_role
            tt_account_roles: $.rpc.output.assets[].tt_account_roles
          page_info: $.rpc.output.page_info
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/assign/:
    post:
      operationId: Bc Asset Assign
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_role:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803356642456577
                    enum_package_name: AdvertiserRole
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADMIN
                      value: '0'
                    - description: ''
                      is_valid: true
                      key: ANALYST
                      value: '2'
                    - description: ''
                      is_valid: true
                      key: OPERATOR
                      value: '1'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 5
                  x-open-source: $.http.body.advertiser_role
                asset_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 4
                  x-open-source: $.http.body.asset_id
                asset_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803356502782978
                    enum_package_name: BCAsset
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADVERTISER
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: CATALOG
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: DOMAIN
                      value: '6'
                    - description: ''
                      is_valid: true
                      key: LEAD
                      value: '9'
                    - description: ''
                      is_valid: true
                      key: PIXEL
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: STOREFRONT
                      value: '5'
                    - description: ''
                      is_valid: true
                      key: TIKTOK_SHOP
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: TT_ACCOUNT
                      value: '8'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 3
                  x-open-source: $.http.body.asset_type
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                catalog_role:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803438583019522
                    enum_package_name: CatalogRole
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADMIN
                      value: '1000'
                    - description: ''
                      is_valid: true
                      key: AD_PROMOTE
                      value: '1100'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 6
                  x-open-source: $.http.body.catalog_role
                form_library_role:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803457011208193
                    enum_package_name: FormLibraryRole
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADMIN
                      value: '6000'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 8
                  x-open-source: $.http.body.form_library_role
                store_role:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803457066320897
                    enum_package_name: StoreRole
                    enums:
                    - description: ''
                      is_valid: true
                      key: AD_PROMOTION
                      value: '3100'
                    - description: ''
                      is_valid: true
                      key: MANAGER
                      value: '3000'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 9
                  x-open-source: $.http.body.store_role
                tt_account_roles:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: 1803438620652801
                      enum_package_name: TTAccountRole
                      enums:
                      - description: ''
                        is_valid: true
                        key: DIRECT_MESSAGE
                        value: '5005'
                      - description: ''
                        is_valid: true
                        key: LIVE
                        value: '5001'
                      - description: ''
                        is_valid: true
                        key: POST
                        value: '5000'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int32
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                  x-open-source: $.http.body.tt_account_roles
                user_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.user_id
              required:
              - bc_id
              - user_id
              - asset_type
              - asset_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Assign assets to a user. [BC Asset Assign](https://business-api.tiktok.com/portal/docs?id=1739438211077121)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: user_id
            required: true
            source: $.http.body.user_id
            type: number
          - name: asset_type
            required: true
            source: $.http.body.asset_type
            type: number
          - name: asset_id
            required: true
            source: $.http.body.asset_id
            type: number
          - name: advertiser_role
            required: false
            source: $.http.body.advertiser_role
            type: number
          - name: catalog_role
            required: false
            source: $.http.body.catalog_role
            type: number
          - children:
            - type: number
            name: tt_account_roles
            required: false
            source: $.http.body.tt_account_roles
            sub_type: number
            type: array
          - name: form_library_role
            required: false
            source: $.http.body.form_library_role
            type: number
          - name: store_role
            required: false
            source: $.http.body.store_role
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_role: $.http.body.advertiser_role
          asset_id: $.http.body.asset_id
          asset_type: $.http.body.asset_type
          bc_id: $.http.body.bc_id
          catalog_role: $.http.body.catalog_role
          form_library_role: $.http.body.form_library_role
          store_role: $.http.body.store_role
          tt_account_roles: $.http.body.tt_account_roles
          user_id: $.http.body.user_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/get/:
    get:
      operationId: Bc Asset Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: asset_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1803356502782978
            enum_package_name: BCAsset
            enums:
            - description: ''
              is_valid: true
              key: ADVERTISER
              value: '1'
            - description: ''
              is_valid: true
              key: CATALOG
              value: '4'
            - description: ''
              is_valid: false
              key: DOMAIN
              value: '6'
            - description: ''
              is_valid: true
              key: LEAD
              value: '9'
            - description: ''
              is_valid: true
              key: PIXEL
              value: '3'
            - description: ''
              is_valid: true
              key: STOREFRONT
              value: '5'
            - description: ''
              is_valid: true
              key: TIKTOK_SHOP
              value: '10'
            - description: ''
              is_valid: true
              key: TT_ACCOUNT
              value: '8'
            key_format: string
            strict: true
            use_part: true
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.asset_type
        x-open-field-id: 2
      - description: ''
        in: query
        name: child_bc_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.child_bc_id
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                keyword:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.query.filtering.keyword
                user_email:
                  description: ''
                  format: email
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.query.filtering.user_email
                user_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.user_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 50
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get assets of a Business Center. [BC Asset Get](https://business-api.tiktok.com/portal/docs?id=1739432717798401)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: asset_type
            required: true
            source: $.http.query.asset_type
            type: number
          - name: child_bc_id
            required: false
            source: $.http.query.child_bc_id
            type: number
          - children:
            - name: user_id
              required: false
              source: $.http.query.filtering.user_id
              type: number
            - name: user_email
              required: false
              source: $.http.query.filtering.user_email
              type: string
            - name: keyword
              required: false
              source: $.http.query.filtering.keyword
              type: string
            name: filtering
            required: false
            source: $.http.query.filtering
            type: object
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_type: $.http.query.asset_type
          bc_id: $.http.query.bc_id
          child_bc_id: $.http.query.child_bc_id
          filtering: $.http.query.filtering
          page: $.http.query.page
          page_size: $.http.query.page_size
        response_cookie: []
        response_header: []
        response_rule:
          list[][]:
          - ad_creation_eligible: $.rpc.output.assets[].ad_creation_eligible
            advertiser_account_type: $.rpc.output.assets[].advertiser_account_type
            advertiser_role: $.rpc.output.assets[].advertiser_role
            asset_id: $.rpc.output.assets[].asset_id
            asset_name: $.rpc.output.assets[].asset_name
            asset_type: $.rpc.output.assets[].asset_type
            catalog_role: $.rpc.output.assets[].catalog_role
            owner_bc_name: $.rpc.output.assets[].owner_bc_name
            store_role: $.rpc.output.assets[].shop_role
            tt_account_roles: $.rpc.output.assets[].tt_account_roles
          page_info: $.rpc.output.page_info
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/member/get/:
    get:
      operationId: Bc Asset Member Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: asset_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1803356502782978
            enum_package_name: BCAsset
            enums:
            - description: ''
              is_valid: true
              key: ADVERTISER
              value: '1'
            - description: ''
              is_valid: true
              key: CATALOG
              value: '4'
            - description: ''
              is_valid: false
              key: DOMAIN
              value: '6'
            - description: ''
              is_valid: true
              key: LEAD
              value: '9'
            - description: ''
              is_valid: false
              key: PIXEL
              value: '3'
            - description: ''
              is_valid: false
              key: STOREFRONT
              value: '5'
            - description: ''
              is_valid: false
              key: TIKTOK_SHOP
              value: '10'
            - description: ''
              is_valid: false
              key: TT_ACCOUNT
              value: '8'
            key_format: string
            strict: true
            use_part: true
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.asset_type
        x-open-field-id: 2
      - description: ''
        in: query
        name: asset_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.asset_id
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                keyword:
                  description: ''
                  maxLength: 250
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.keyword
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 20
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get members by an asset. [BC Asset Member Get](https://business-api.tiktok.com/portal/docs?id=1739659558931458)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: asset_type
            required: true
            source: $.http.query.asset_type
            type: number
          - name: asset_id
            required: true
            source: $.http.query.asset_id
            type: number
          - name: keyword
            required: false
            source: $.http.query.filtering.keyword
            type: string
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_id: $.http.query.asset_id
          asset_type: $.http.query.asset_type
          bc_id: $.http.query.bc_id
          keyword: $.http.query.filtering.keyword
          page: $.http.query.page
          page_size: $.http.query.page_size
        response_cookie: []
        response_header: []
        response_rule:
          list: $.rpc.output.members
          page_info: $.rpc.output.page_info
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/partner/get/:
    get:
      operationId: Bc Asset Partner Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: asset_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1803356502782978
            enum_package_name: BCAsset
            enums:
            - description: ''
              is_valid: true
              key: ADVERTISER
              value: '1'
            - description: ''
              is_valid: true
              key: CATALOG
              value: '4'
            - description: ''
              is_valid: true
              key: DOMAIN
              value: '6'
            - description: ''
              is_valid: true
              key: LEAD
              value: '9'
            - description: ''
              is_valid: true
              key: PIXEL
              value: '3'
            - description: ''
              is_valid: true
              key: STOREFRONT
              value: '5'
            - description: ''
              is_valid: true
              key: TIKTOK_SHOP
              value: '10'
            - description: ''
              is_valid: true
              key: TT_ACCOUNT
              value: '8'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.asset_type
        x-open-field-id: 2
      - description: ''
        in: query
        name: asset_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.asset_id
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                keyword:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.keyword
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 50
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get partners by assets. [BC Asset Partner Get](https://business-api.tiktok.com/portal/docs?id=1739663268166722)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: asset_type
            required: true
            source: $.http.query.asset_type
            type: number
          - name: asset_id
            required: true
            source: $.http.query.asset_id
            type: number
          - name: keyword
            required: false
            source: $.http.query.filtering.keyword
            type: string
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_id: $.http.query.asset_id
          asset_type: $.http.query.asset_type
          bc_id: $.http.query.bc_id
          keyword: $.http.query.filtering.keyword
          page: $.http.query.page
          page_size: $.http.query.page_size
        response_cookie: []
        response_header: []
        response_rule:
          list: $.rpc.output.partners
          page_info: $.rpc.output.page_info
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset/unassign/:
    post:
      operationId: Bc Asset Unassign
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                asset_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 4
                  x-open-source: $.http.body.asset_id
                asset_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1803356502782978
                    enum_package_name: BCAsset
                    enums:
                    - description: ''
                      is_valid: true
                      key: ADVERTISER
                      value: '1'
                    - description: ''
                      is_valid: true
                      key: CATALOG
                      value: '4'
                    - description: ''
                      is_valid: true
                      key: DOMAIN
                      value: '6'
                    - description: ''
                      is_valid: true
                      key: LEAD
                      value: '9'
                    - description: ''
                      is_valid: true
                      key: PIXEL
                      value: '3'
                    - description: ''
                      is_valid: true
                      key: STOREFRONT
                      value: '5'
                    - description: ''
                      is_valid: true
                      key: TIKTOK_SHOP
                      value: '10'
                    - description: ''
                      is_valid: true
                      key: TT_ACCOUNT
                      value: '8'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int32
                  x-open-field-id: 3
                  x-open-source: $.http.body.asset_type
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                user_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.user_id
              required:
              - bc_id
              - user_id
              - asset_type
              - asset_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Revoke the access to an asset from a user. [BC Asset Unassign](https://business-api.tiktok.com/portal/docs?id=1739448126749698)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: user_id
            required: true
            source: $.http.body.user_id
            type: number
          - name: asset_type
            required: true
            source: $.http.body.asset_type
            type: number
          - name: asset_id
            required: true
            source: $.http.body.asset_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_id: $.http.body.asset_id
          asset_type: $.http.body.asset_type
          bc_id: $.http.body.bc_id
          user_id: $.http.body.user_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset_group/create/:
    post:
      operationId: Bc Asset_group Create
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                asset_group_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.body.asset_group_name
                assets:
                  description: ''
                  items:
                    properties:
                      asset_id:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.assets[].asset_id
                      asset_type:
                        default: ADVERTISER
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1815197592334338
                          enum_package_name: BCAssetGroupAssetType
                          enums:
                          - description: ''
                            is_valid: true
                            key: ADVERTISER
                            value: ADVERTISER
                          key_format: string
                          strict: true
                          use_part: false
                          validate_only: false
                          value_format: string
                        x-open-field-id: 2
                        x-open-source: $.http.body.assets[].asset_type
                    required:
                    - asset_id
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 200
                  minItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.assets
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
                members:
                  description: ''
                  items:
                    properties:
                      asset_roles:
                        additionalProperties:
                          type: string
                          x-open-allow-strlist: false
                          x-open-allow-strnum: false
                          x-open-enum:
                            enum_package_expired: false
                            enum_package_id: 1815197697677314
                            enum_package_name: BCAssetGroupRole
                            enums:
                            - description: ''
                              is_valid: true
                              key: ADVERTISER_ROLE_ADMIN
                              value: ADVERTISER_ROLE_ADMIN
                            - description: ''
                              is_valid: true
                              key: ADVERTISER_ROLE_ANALYST
                              value: ADVERTISER_ROLE_ANALYST
                            - description: ''
                              is_valid: true
                              key: ADVERTISER_ROLE_OPERATOR
                              value: ADVERTISER_ROLE_OPERATOR
                            key_format: string
                            strict: true
                            use_part: false
                            validate_only: false
                            value_format: string
                        description: ''
                        type: object
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 2
                        x-open-source: $.http.body.members[].asset_roles
                      member_id:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                        x-open-source: $.http.body.members[].member_id
                    required:
                    - member_id
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 50
                  minItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.body.members
              required:
              - bc_id
              - asset_group_name
              - assets
              - members
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Create an Asset Group in your Business Center. [BC Asset Group Create](https://business-api.tiktok.com/portal/docs?id=1749001658583105)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - name: asset_group_name
            required: true
            source: $.http.body.asset_group_name
            type: string
          - children:
            - children:
              - name: asset_id
                required: true
                source: $.http.body.assets[].asset_id
                type: string
              - name: asset_type
                required: true
                source: $.http.body.assets[].asset_type
                type: string
              is_expand: true
              type: object
            is_expand: true
            name: assets
            required: true
            source: $.http.body.assets
            sub_type: object
            type: array
          - children:
            - children:
              - name: member_id
                required: true
                source: $.http.body.members[].member_id
                type: string
              - children:
                - type: string
                is_expand: true
                name: asset_roles
                required: false
                source: $.http.body.members[].asset_roles
                sub_type: string
                type: dict
              is_expand: true
              type: object
            is_expand: true
            name: members
            required: true
            source: $.http.body.members
            sub_type: object
            type: array
          - children:
            - name: app_id
              required: false
              source: $.context.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.context.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.context.developer_id
              type: number
            - name: x_real_ip
              required: false
              source: $.context.source_ip
              type: string
            is_expand: true
            name: context_info
            required: false
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_group_name: $.http.body.asset_group_name
          assets: $.http.body.assets
          bc_id: $.http.body.bc_id
          context_info:
            app_id: $.context.app_id
            core_user_id: $.context.core_user_id
            developer_id: $.context.developer_id
            x_real_ip: $.context.source_ip
          members: $.http.body.members
        response_cookie: []
        response_header: []
        response_rule:
          asset_group_id: $.rpc.output.asset_group_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset_group/delete/:
    post:
      operationId: Bc Asset_group Delete
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                asset_group_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  maxItems: 1
                  minItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.body.asset_group_ids
                bc_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.bc_id
              required:
              - bc_id
              - asset_group_ids
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Remove members' access to an Asset Group. [BC Asset Group Delete](https://business-api.tiktok.com/portal/docs?id=1749001673406466)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.body.bc_id
            type: number
          - children:
            - type: number
            is_expand: true
            name: asset_group_ids
            required: true
            source: $.http.body.asset_group_ids[]
            sub_type: number
            type: array
          - children:
            - name: app_id
              required: false
              source: $.context.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.context.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.context.developer_id
              type: number
            is_expand: true
            name: context_info
            required: false
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_group_ids: $.http.body.asset_group_ids[]
          bc_id: $.http.body.bc_id
          context_info:
            app_id: $.context.app_id
            core_user_id: $.context.core_user_id
            developer_id: $.context.developer_id
        response_cookie: []
        response_header: []
        response_rule: null
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /bc/asset_group/get/:
    get:
      operationId: Bc Asset_group Get
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: asset_group_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.asset_group_id
        x-open-field-id: 2
      - description: ''
        in: query
        name: query_entity
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1815197887739905
            enum_package_name: BCAssetGroupQueryEntity
            enums:
            - description: ''
              is_valid: true
              key: ASSET
              value: ASSET
            - description: ''
              is_valid: true
              key: MEMBER
              value: MEMBER
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: string
          x-open-source: $.http.query.query_entity
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              properties:
                keyword:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.keyword
              required:
              - keyword
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 4
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 5
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 6
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the assets or members of an Asset Group in a Business Center. [BC Asset Group Get](https://business-api.tiktok.com/portal/docs?id=1749001669670913)
      tags:
      - BC
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: bc_id
            required: true
            source: $.http.query.bc_id
            type: number
          - name: asset_group_id
            required: true
            source: $.http.query.asset_group_id
            type: number
          - name: query_entity
            required: true
            source: $.http.query.query_entity
            type: string
          - children:
            - name: keyword
              required: true
              source: $.http.query.filtering.keyword
              type: string
            is_expand: true
            name: filtering
            required: false
            source: $.http.query.filtering
            type: object
          - name: page
            required: true
            source: $.http.query.page
            type: number
          - name: page_size
            required: true
            source: $.http.query.page_size
            type: number
          - children:
            - name: app_id
              required: false
              source: $.context.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.context.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.context.developer_id
              type: number
            - name: x_real_ip
              required: false
              source: $.context.source_ip
              type: string
            is_expand: true
            name: context_info
            required: false
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          asset_group_id: $.http.query.asset_group_id
          bc_id: $.http.query.bc_id
          context_info:
            app_id: $.context.app_id
            core_user_id: $.context.core_user_id
            developer_id: $.context.developer_id
            x_real_ip: $.context.source_ip
          filtering: $.http.query.filtering
          page: $.http.query.page
          page_size: $.http.query.page_size
          query_entity: $.http.query.query_entity
        response_cookie: []
        response_header: []
        response_rule:
          asset_group:
            asset_group_id: $.rpc.output.asset_group.asset_group_id
            asset_group_name: $.rpc.output.asset_group.asset_group_name
            assets: $.rpc.output.asset_group.assets
            members: $.rpc.output.asset_group.members
          page_info: $.rpc.output.page_info
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /bc/asset_group/list/:
    get:
      operationId: Bc Asset_group List
      parameters:
      - description: ''
        in: query
        name: bc_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.bc_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              properties:
                keyword:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.keyword
              required:
              - keyword
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 2
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 3
      - description: ''
        in: query
        name: page_size
[...]
