openapi: 3.2.0
info:
  title: TikTok API for Business — Marketing Reporting API
  description: TikTok API for Business (Marketing API) v1.3. This document is a mechanical union of the 202 per-operation OpenAPI 3.0.1 documents TikTok publishes in yml_files/ of its own SDK repository (https://github.com/tiktok/tiktok-business-api-sdk), which are the swagger-codegen inputs for TikTok's first-party Java/Python/JavaScript SDKs. Operation content (paths, parameters, responses, tags and the x-open-* extensions) is preserved verbatim; only info, servers and components.securitySchemes were written by API Evangelist, because the per-operation fragments carry placeholder info blocks and no servers block. The servers values are the production and sandbox base URLs TikTok documents at https://business-api.tiktok.com/portal/docs?id=1738855331457026 .
  version: v1.3
  contact:
    name: TikTok API for Business support
    url: https://business-api.tiktok.com/portal/docs?id=1795190020378625
  termsOfService: https://business-api.tiktok.com/portal/docs?id=1737191804348417
  x-source: https://github.com/tiktok/tiktok-business-api-sdk/tree/main/yml_files
  x-harvested-by: API Evangelist enrichment pipeline
  x-harvested: '2026-08-13'
servers:
- url: https://business-api.tiktok.com/open_api/v1.3
  description: Production
- url: https://sandbox-ads.tiktok.com/open_api/v1.3
  description: Sandbox
security:
- AccessToken: []
tags:
- name: Reporting
paths:
  /gmv_max/report/get/:
    get:
      operationId: Gmv_max Report Get
      parameters:
      - description: ''
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-convert:
                - int64(%s)
              maxItems: 1
              minItems: 1
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.store_ids
        description: ''
        in: query
        name: store_ids
        required: true
        x-open-field-id: 2
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              maxItems: 3
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.dimensions
        description: ''
        in: query
        name: dimensions
        required: true
        x-open-field-id: 3
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              maxItems: 100
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.metrics
        description: ''
        in: query
        name: metrics
        required: true
        x-open-field-id: 4
      - description: ''
        in: query
        name: enable_total_metrics
        required: false
        schema:
          default: false
          type: boolean
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.enable_total_metrics
        x-open-field-id: 5
      - description: ''
        in: query
        name: start_date
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.start_date
        x-open-field-id: 6
      - description: ''
        in: query
        name: end_date
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.end_date
        x-open-field-id: 7
      - content:
          application/json:
            schema:
              properties:
                campaign_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  maxItems: 100
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
                  x-open-source: $.http.query.filtering.campaign_ids
                campaign_name:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.query.filtering.campaign_name
                campaign_statuses:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: null
                      enum_package_name: null
                      enums:
                      - description: ''
                        is_valid: true
                        key: STATUS_DELETE
                        value: delete
                      - description: ''
                        is_valid: true
                        key: STATUS_DELIVERY_OK
                        value: delivery_ok
                      - description: ''
                        is_valid: true
                        key: STATUS_DISABLE
                        value: disable
                      - description: ''
                        is_valid: true
                        key: STATUS_NOT_DELIVERY
                        value: not_delivery
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: string
                  maxItems: 4
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.query.filtering.campaign_statuses
                creative_delivery_statuses:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: null
                      enum_package_name: null
                      enums:
                      - description: ''
                        is_valid: true
                        key: IN_QUEUE
                        value: '1'
                      - description: ''
                        is_valid: true
                        key: LEARNING
                        value: '2'
                      - description: ''
                        is_valid: true
                        key: DELIVERING
                        value: '3'
                      - description: ''
                        is_valid: true
                        key: NOT_DELIVERYING
                        value: '4'
                      - description: ''
                        is_valid: true
                        key: AUTHORIZATION_NEEDED
                        value: '5'
                      - description: ''
                        is_valid: true
                        key: EXCLUDED
                        value: '6'
                      - description: ''
                        is_valid: true
                        key: UNAVAILABLE
                        value: '7'
                      - description: ''
                        is_valid: true
                        key: REJECTED
                        value: '9'
                      - description: ''
                        is_valid: true
                        key: NOT_ACTIVE
                        value: '10'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int32
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 10
                creative_types:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: null
                      enum_package_name: null
                      enums:
                      - description: ''
                        is_valid: true
                        key: ADS_AND_ORGANIC
                        value: '1'
                      - description: ''
                        is_valid: true
                        key: ORGANIC
                        value: '2'
                      - description: ''
                        is_valid: true
                        key: REMOVED
                        value: '3'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int32
                  maxItems: 1
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 6
                  x-open-source: $.http.query.filtering.creative_types
                gmv_max_promotion_types:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: null
                      enum_package_name: null
                      enums:
                      - description: ''
                        is_valid: true
                        key: PRODUCT
                        value: '0'
                      - description: ''
                        is_valid: true
                        key: LIVE
                        value: '1'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int32
                  maxItems: 2
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.query.filtering.gmv_max_promotion_types
                item_group_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 100
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.query.filtering.item_group_ids
                item_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 100
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                  x-open-source: $.http.query.filtering.item_ids
                room_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  maxItems: 100
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 8
                  x-open-source: $.http.query.filtering.room_ids
                search_word:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 9
                  x-open-source: $.http.query.filtering.search_word
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.filtering
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 8
      - description: ''
        in: query
        name: sort_field
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.sort_field
        x-open-field-id: 9
      - description: ''
        in: query
        name: sort_type
        required: false
        schema:
          default: DESC
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: null
            enum_package_name: null
            enums:
            - description: ''
              is_valid: true
              key: ASC
              value: '0'
            - description: ''
              is_valid: true
              key: DESC
              value: '1'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
          x-open-source: $.http.query.sort_type
        x-open-field-id: 10
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 11
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 12
      - content:
          application/json:
            schema:
              properties:
                app_id:
                  description: ''
                  format: int64
                  type: integer
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
                  x-open-source: $.http.query.context_info.app_id
                core_user_id:
                  description: ''
                  format: int64
                  type: integer
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 2
                  x-open-source: $.http.query.context_info.core_user_id
                developer_id:
                  description: ''
                  format: int64
                  type: integer
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.query.context_info.developer_id
                referer:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 7
                  x-open-source: $.http.query.context_info.referer
                user_agent:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 6
                  x-open-source: $.http.query.context_info.user_agent
                x_forwarded_for:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 4
                  x-open-source: $.http.query.context_info.x_forwarded_for
                x_real_ip:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                  x-open-source: $.http.query.context_info.x_real_ip
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.context_info
        description: ''
        in: query
        name: context_info
        required: false
        x-open-field-id: 13
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get GMV Max report [Smart Plus GMV Max Report Get](https://business-api.tiktok.com/portal/docs?id=1824721673497601)
      tags:
      - Reporting
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: advertiser_id
            required: true
            source: $.http.query.advertiser_id
            type: number
          - children:
            - type: number
            is_expand: true
            name: store_ids
            required: true
            source: $.http.query.store_ids
            sub_type: number
            type: array
          - children:
            - type: string
            is_expand: true
            name: dimensions
            required: true
            source: $.http.query.dimensions
            sub_type: string
            type: array
          - children:
            - type: string
            is_expand: true
            name: metrics
            required: false
            source: $.http.query.metrics
            sub_type: string
            type: array
          - name: enable_total_metrics
            required: false
            source: $.http.query.enable_total_metrics
            type: boolean
          - name: start_date
            required: true
            source: $.http.query.start_date
            type: string
          - name: end_date
            required: true
            source: $.http.query.end_date
            type: string
          - children:
            - children:
              - type: number
              is_expand: true
              name: campaign_ids
              required: false
              source: $.http.query.filtering.campaign_ids
              sub_type: number
              type: array
            - name: campaign_name
              required: false
              source: $.http.query.filtering.campaign_name
              type: string
            - children:
              - type: string
              is_expand: true
              name: campaign_statuses
              required: false
              source: $.http.query.filtering.campaign_statuses
              sub_type: string
              type: array
            - children:
              - type: string
              is_expand: true
              name: item_group_ids
              required: false
              source: $.http.query.filtering.item_group_ids
              sub_type: string
              type: array
            - children:
              - type: number
              is_expand: true
              name: gmv_max_promotion_types
              required: false
              source: $.http.query.filtering.gmv_max_promotion_types
              sub_type: number
              type: array
            - children:
              - type: number
              is_expand: true
              name: creative_types
              required: false
              source: $.http.query.filtering.creative_types
              sub_type: number
              type: array
            - children:
              - type: string
              is_expand: true
              name: item_ids
              required: false
              source: $.http.query.filtering.item_ids
              sub_type: string
              type: array
            - children:
              - type: string
              is_expand: true
              name: room_ids
              required: false
              source: $.http.query.filtering.room_ids
              sub_type: string
              type: array
            - name: search_word
              required: false
              source: $.http.query.filtering.search_word
              type: string
            - children:
              - is_expand: false
                source: undefined
                type: number
              is_expand: false
              name: creative_delivery_statuses
              required: false
              source: $.http.query.filtering.creative_delivery_statuses
              sub_type: number
              type: array
            is_expand: true
            name: filtering
            required: false
            type: object
          - name: sort_field
            required: false
            source: $.http.query.sort_field
            type: string
          - name: sort_type
            required: false
            source: $.http.query.sort_type
            type: number
          - name: page
            required: false
            source: $.http.query.page
            type: number
          - name: page_size
            required: false
            source: $.http.query.page_size
            type: number
          - children:
            - name: app_id
              required: false
              source: $.context.app_id
              type: number
            - name: core_user_id
              required: false
              source: $.context.core_user_id
              type: number
            - name: developer_id
              required: false
              source: $.context.developer_id
              type: number
            - name: x_forwarded_for
              required: false
              source: $.context.source_ip
              type: string
            - name: x_real_ip
              required: false
              source: $.context.source_ip
              type: string
            - name: user_agent
              required: false
              source: $.context.is_same_identity
              type: string
            - name: referer
              required: false
              source: $.context.is_same_identity
              type: string
            is_expand: true
            name: context_info
            required: true
            type: object
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          context_info:
            app_id: $.context.app_id
            core_user_id: $.context.core_user_id
            developer_id: $.context.developer_id
            referer: $.context.is_same_identity
            user_agent: $.context.is_same_identity
            x_forwarded_for: $.context.source_ip
            x_real_ip: $.context.source_ip
          dimensions: $.http.query.dimensions
          enable_total_metrics: $.http.query.enable_total_metrics
          end_date: $.http.query.end_date
          filtering:
            campaign_ids: $.http.query.filtering.campaign_ids
            campaign_name: $.http.query.filtering.campaign_name
            campaign_statuses: $.http.query.filtering.campaign_statuses
            creative_delivery_statuses: $.http.query.filtering.creative_delivery_statuses
            creative_types: $.http.query.filtering.creative_types
            gmv_max_promotion_types: $.http.query.filtering.gmv_max_promotion_types
            item_group_ids: $.http.query.filtering.item_group_ids
            item_ids: $.http.query.filtering.item_ids
            room_ids: $.http.query.filtering.room_ids
            search_word: $.http.query.filtering.search_word
          metrics: $.http.query.metrics
          page: $.http.query.page
          page_size: $.http.query.page_size
          sort_field: $.http.query.sort_field
          sort_type: $.http.query.sort_type
          start_date: $.http.query.start_date
          store_ids: $.http.query.store_ids
        response_cookie: []
        response_header: []
        response_rule:
          list: $.rpc.output.stats
          page_info: $.rpc.output.page_info
          total_metrics: $.rpc.output.total_metrics
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: true
  /report/integrated/get/:
    get:
      operationId: Report Integrated Get
      parameters:
      - description: ''
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int64
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page
        x-open-field-id: 1
      - description: ''
        in: query
        name: page_size
        required: false
        schema:
          default: 10
          format: int64
          maximum: 1000
          minimum: 1
          type: integer
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.page_size
        x-open-field-id: 2
      - description: ''
        in: query
        name: enable_total_metrics
        required: false
        schema:
          default: false
          type: boolean
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.enable_total_metrics
        x-open-field-id: 3
      - description: ''
        in: query
        name: multi_adv_report_in_utc_time
        required: false
        schema:
          default: false
          type: boolean
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-source: $.http.query.multi_adv_report_in_utc_time
        x-open-field-id: 4
      - description: ''
        in: query
        name: query_mode
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: null
            enum_package_name: null
            enums:
            - description: ''
              is_valid: true
              key: REGULAR
              value: REGULAR
            - description: ''
              is_valid: true
              key: CHUNK
              value: CHUNK
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: string
          x-open-source: $.http.query.query_mode
        x-open-field-id: 5
      - description: ''
        in: query
        name: advertiser_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
        x-open-field-id: 6
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-convert:
                - int64(%s)
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: ''
        in: query
        name: advertiser_ids
        required: false
        x-open-field-id: 7
      - description: ''
        in: query
        name: bc_id
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
        x-open-field-id: 8
      - description: ''
        in: query
        name: service_type
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1805686420337666
            enum_package_name: ReportServiceType
            enums:
            - description: ''
              is_valid: true
              key: AUCTION
              value: AUCTION
            - description: ''
              is_valid: true
              key: RESERVATION
              value: RESERVATION
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: string
        x-open-field-id: 9
      - description: ''
        in: query
        name: report_type
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1807850604796929
            enum_package_name: SyncReportType
            enums:
            - description: ''
              is_valid: true
              key: AUDIENCE
              value: AUDIENCE
            - description: ''
              is_valid: true
              key: BASIC
              value: BASIC
            - description: ''
              is_valid: true
              key: BC
              value: BC
            - description: ''
              is_valid: true
              key: CATALOG
              value: CATALOG
            - description: ''
              is_valid: true
              key: PLAYABLE_MATERIAL
              value: PLAYABLE_MATERIAL
            - description: ''
              is_valid: true
              key: TT_SHOP
              value: TT_SHOP
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: string
        x-open-field-id: 10
      - description: ''
        in: query
        name: data_level
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1805686341322753
            enum_package_name: ReportDataLevel
            enums:
            - description: ''
              is_valid: true
              key: AUCTION_AD
              value: AD
            - description: ''
              is_valid: true
              key: AUCTION_ADGROUP
              value: ADGROUP
            - description: ''
              is_valid: true
              key: AUCTION_ADVERTISER
              value: ADVERTISER
            - description: ''
              is_valid: true
              key: AUCTION_CAMPAIGN
              value: CAMPAIGN
            - description: ''
              is_valid: true
              key: RESERVATION_AD
              value: AD
            - description: ''
              is_valid: true
              key: RESERVATION_ADGROUP
              value: ADGROUP
            - description: ''
              is_valid: true
              key: RESERVATION_ADVERTISER
              value: ADVERTISER
            - description: ''
              is_valid: true
              key: RESERVATION_CAMPAIGN
              value: CAMPAIGN
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: string
        x-open-field-id: 11
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: ''
        in: query
        name: dimensions
        required: false
        x-open-field-id: 12
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: ''
        in: query
        name: metrics
        required: false
        x-open-field-id: 13
      - description: ''
        in: query
        name: start_date
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
        x-open-field-id: 14
      - description: ''
        in: query
        name: end_date
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
        x-open-field-id: 15
      - description: ''
        in: query
        name: query_lifetime
        required: false
        schema:
          type: boolean
          x-open-allow-strlist: false
          x-open-allow-strnum: false
        x-open-field-id: 16
      - description: ''
        in: query
        name: order_field
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
        x-open-field-id: 17
      - description: ''
        in: query
        name: order_type
        required: false
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-enum:
            enum_package_expired: false
            enum_package_id: 1807850809935874
            enum_package_name: ReportOrderType
            enums:
            - description: ''
              is_valid: true
              key: ASC
              value: '1'
            - description: ''
              is_valid: true
              key: DESC
              value: '2'
            key_format: string
            strict: true
            use_part: false
            validate_only: false
            value_format: int32
        x-open-field-id: 18
      - content:
          application/json:
            schema:
              items:
                properties:
                  field_name:
                    description: ''
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-field-id: 1
                  filter_type:
                    description: ''
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-enum:
                      enum_package_expired: false
                      enum_package_id: 1805686981203970
                      enum_package_name: ReportFilterType
                      enums:
                      - description: ''
                        is_valid: true
                        key: BETWEEN
                        value: '1'
                      - description: ''
                        is_valid: true
                        key: GREATER_EQUAL
                        value: '8'
                      - description: ''
                        is_valid: true
                        key: GREATER_THAN
                        value: '6'
                      - description: ''
                        is_valid: true
                        key: IN
                        value: '0'
                      - description: ''
                        is_valid: true
                        key: LOWER_EQUAL
                        value: '7'
                      - description: ''
                        is_valid: true
                        key: LOWER_THAN
                        value: '5'
                      - description: ''
                        is_valid: true
                        key: MATCH
                        value: '9'
                      - description: ''
                        is_valid: true
                        key: RANGE
                        value: '1'
                      key_format: string
                      strict: true
                      use_part: false
                      validate_only: false
                      value_format: int64
                    x-open-field-id: 2
                  filter_value:
                    description: ''
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-field-id: 3
                required:
                - field_name
                - filter_type
                - filter_value
                type: object
                x-open-allow-strlist: false
                x-open-allow-strnum: false
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
        description: ''
        in: query
        name: filtering
        required: false
        x-open-field-id: 19
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Run a synchronous report. [Report Integrated Get](https://business-api.tiktok.com/portal/docs?id=1740302848100353)
      tags:
      - Reporting
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - children:
            - name: service_type
              required: true
              source: $.http.query.service_type
              type: string
            - name: report_type
              required: true
              source: $.http.query.report_type
              type: string
            - name: data_level
              required: false
              source: $.http.query.data_level
              type: string
            - children:
              - type: string
              is_expand: true
              name: dimensions
              required: false
              source: $.http.query.dimensions[]
              sub_type: string
              type: array
            - children:
              - type: string
              is_expand: true
              name: metrics
              required: false
              source: $.http.query.metrics[]
              sub_type: string
              type: array
            - name: start_date
              required: false
              source: $.http.query.start_date
              type: string
            - name: end_date
              required: false
              source: $.http.query.end_date
              type: string
            - name: query_lifetime
              required: false
              source: $.http.query.query_lifetime
              type: boolean
            - name: order_type
              required: false
              source: $.http.query.order_type
              type: number
            - name: order_field
              required: false
              source: $.http.query.order_field
              type: string
            - children:
              - children:
                - name: field_name
                  required: false
                  source: $.http.query.common_report_query.filtering[].field_name
                  type: string
                - name: filter_type
                  required: false
                  source: $.http.query.common_report_query.filtering[].filter_type
                  type: number
                - name: filter_value
                  required: false
                  source: $.http.query.common_report_query.filtering[].filter_value
                  type: string
                is_expand: true
                type: object
              is_expand: true
              name: filtering
              required: false
              source: $.http.query.filtering[]
              sub_type: object
              type: array
            - name: advertiser_id
              required: false
              source: $.http.query.advertiser_id
              type: number
            - name: bc_id
              required: false
              source: $.http.query.bc_id
              type: number
            - children:
              - type: number
              is_expand: true
              name: advertiser_ids
              required: false
              source: $.http.query.advertiser_ids[]
              sub_type: number
              type: array
            is_expand: true
            name: common_report_query
            required: true
            type: object
          - name: page
            required: true
            source: $.http.query.page
            type: number
          - name: page_size
            required: true
            source: $.http.query.page_size
            type: number
          - name: enable_total_metrics
            required: false
            source: $.http.query.enable_total_metrics
            type: boolean
          - name: multi_adv_report_in_utc_time
            required: false
            source: $.http.query.multi_adv_report_in_utc_time
            type: boolean
          - name: query_mode
            required: false
            source: $.http.query.query_mode
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          common_report_query:
            advertiser_id: $.http.query.advertiser_id
            advertiser_ids: $.http.query.advertiser_ids[]
            bc_id: $.http.query.bc_id
            data_level: $.http.query.data_level
            dimensions: $.http.query.dimensions[]
            end_date: $.http.query.end_date
            filtering: $.http.query.filtering[]
            metrics: $.http.query.metrics[]
            order_field: $.http.query.order_field
            order_type: $.http.query.order_type
            query_lifetime: $.http.query.query_lifetime
            report_type: $.http.query.report_type
            service_type: $.http.query.service_type
            start_date: $.http.query.start_date
          enable_total_metrics: $.http.query.enable_total_metrics
          multi_adv_report_in_utc_time: $.http.query.multi_adv_report_in_utc_time
          page: $.http.query.page
          page_size: $.http.query.page_size
          query_mode: $.http.query.query_mode
        response_cookie: []
        response_header: []
        response_rule:
          list: $.rpc.output.stats_data
          page_info: $.rpc.output.page_info
          total_metrics: $.rpc.output.total_metrics
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /report/task/cancel/:
    post:
      operationId: Report Task Cancel
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 2
                  x-open-source: $.http.body.advertiser_id
                task_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 1
                  x-open-source: $.http.body.task_id
              required:
              - task_id
              - advertiser_id
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Cancel an asynchronous report task. [Report Task Cancel](https://business-api.tiktok.com/portal/docs?id=1803615367145537)
      tags:
      - Reporting
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: task_id
            required: true
            source: $.http.body.task_id
            type: number
          - name: advertiser_id
            required: false
            source: $.http.body.advertiser_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.body.advertiser_id
          task_id: $.http.body.task_id
        response_cookie: []
        response_header: []
        response_rule:
          message: $.rpc.output.message
          status: $.rpc.output.status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /report/task/check/:
    get:
      operationId: Report Task Check
      parameters:
      - description: ''
        in: query
        name: task_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.task_id
        x-open-field-id: 1
      - description: ''
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 2
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: Get the status of an async report task. [Report Task Check](https://business-api.tiktok.com/portal/docs?id=1740302781443073)
      tags:
      - Reporting
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - name: task_id
            required: true
            source: $.http.query.task_id
            type: number
          - name: advertiser_id
            required: false
            source: $.http.query.advertiser_id
            type: number
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          advertiser_id: $.http.query.advertiser_id
          task_id: $.http.query.task_id
        response_cookie: []
        response_header: []
        response_rule:
          message: $.rpc.output.message
          status: $.rpc.output.status
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /report/task/create/:
    post:
      operationId: Report Task Create
      parameters:
      - description: Authorized access token. For details, see [Authentication](https://ads.tiktok.com/marketing_api/docs?id=1738373164380162).
        in: query
        name: Access-Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                advertiser_id:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-convert:
                  - int64(%s)
                  x-open-field-id: 4
                advertiser_ids:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                    x-open-convert:
                    - int64(%s)
                  maxItems: 5
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 5
                data_level:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1805686341322753
                    enum_package_name: ReportDataLevel
                    enums:
                    - description: ''
                      is_valid: true
                      key: AUCTION_AD
                      value: AUCTION_AD
                    - description: ''
                      is_valid: true
                      key: AUCTION_ADGROUP
                      value: AUCTION_ADGROUP
                    - description: ''
                      is_valid: true
                      key: AUCTION_ADVERTISER
                      value: AUCTION_ADVERTISER
                    - description: ''
                      is_valid: true
                      key: AUCTION_CAMPAIGN
                      value: AUCTION_CAMPAIGN
                    - description: ''
                      is_valid: true
                      key: RESERVATION_AD
                      value: RESERVATION_AD
                    - description: ''
                      is_valid: true
                      key: RESERVATION_ADGROUP
                      value: RESERVATION_ADGROUP
                    - description: ''
                      is_valid: true
                      key: RESERVATION_ADVERTISER
                      value: RESERVATION_ADVERTISER
                    - description: ''
                      is_valid: true
                      key: RESERVATION_CAMPAIGN
                      value: RESERVATION_CAMPAIGN
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: string
                  x-open-field-id: 8
                dimensions:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 9
                enable_report_title_translation:
                  default: true
                  description: ''
                  type: boolean
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 1
                  x-open-source: $.http.body.enable_report_title_translation
                end_date:
                  description: ''
                  format: date
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 12
                file_name:
                  default: ' '
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 3
                  x-open-source: $.http.body.file_name
                filtering:
                  description: ''
                  items:
                    properties:
                      field_name:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 1
                      filter_type:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-enum:
                          enum_package_expired: false
                          enum_package_id: 1805686981203970
                          enum_package_name: ReportFilterType
                          enums:
                          - description: ''
                            is_valid: true
                            key: BETWEEN
                            value: '1'
                          - description: ''
                            is_valid: true
                            key: GREATER_EQUAL
                            value: '8'
                          - description: ''
                            is_valid: true
                            key: GREATER_THAN
                            value: '6'
                          - description: ''
                            is_valid: true
                            key: IN
                            value: '0'
                          - description: ''
                            is_valid: true
                            key: LOWER_EQUAL
                            value: '7'
                          - description: ''
                            is_valid: true
                            key: LOWER_THAN
                            value: '5'
                          - description: ''
                            is_valid: true
                            key: MATCH
                            value: '9'
                          - description: ''
                            is_valid: true
                            key: RANGE
                            value: '1'
                          key_format: string
                          strict: true
                          use_part: false
                          validate_only: false
                          value_format: int64
                        x-open-field-id: 2
                      filter_value:
                        description: ''
                        type: string
                        x-open-allow-strlist: false
                        x-open-allow-strnum: false
                        x-open-field-id: 3
                    type: object
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 16
                metrics:
                  description: ''
                  items:
                    type: string
                    x-open-allow-strlist: false
                    x-open-allow-strnum: false
                  type: array
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 10
                order_field:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 14
                order_type:
                  default: DESC
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: null
                    enum_package_name: null
                    enums:
                    - description: ''
                      is_valid: true
                      key: ASC
                      value: '0'
                    - description: ''
                      is_valid: true
                      key: DESC
                      value: '1'
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: int64
                  x-open-field-id: 15
                output_format:
                  default: CSV_STRING
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1805686656427009
                    enum_package_name: AsyncReportFormat
                    enums:
                    - description: ''
                      is_valid: true
                      key: CSV_DOWNLOAD
                      value: CSV_DOWNLOAD
                    - description: ''
                      is_valid: true
                      key: CSV_STRING
                      value: CSV_STRING
                    - description: ''
                      is_valid: true
                      key: XLSX_DOWNLOAD
                      value: XLSX_DOWNLOAD
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: string
                  x-open-field-id: 2
                  x-open-source: $.http.body.output_format
                query_lifetime:
                  default: false
                  description: ''
                  type: boolean
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 13
                report_type:
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1805686395142145
                    enum_package_name: AsyncReportType
                    enums:
                    - description: ''
                      is_valid: true
                      key: AUDIENCE
                      value: AUDIENCE
                    - description: ''
                      is_valid: true
                      key: BASIC
                      value: BASIC
                    - description: ''
                      is_valid: true
                      key: CATALOG
                      value: CATALOG
                    - description: ''
                      is_valid: false
                      key: PLAYABLE_MATERIAL
                      value: PLAYABLE_MATERIAL
                    key_format: string
                    strict: true
                    use_part: true
                    validate_only: false
                    value_format: string
                  x-open-field-id: 7
                service_type:
                  default: AUCTION
                  description: ''
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-enum:
                    enum_package_expired: false
                    enum_package_id: 1805686420337666
                    enum_package_name: ReportServiceType
                    enums:
                    - description: ''
                      is_valid: true
                      key: AUCTION
                      value: AUCTION
                    - description: ''
                      is_valid: true
                      key: RESERVATION
                      value: RESERVATION
                    key_format: string
                    strict: true
                    use_part: false
                    validate_only: false
                    value_format: string
                  x-open-field-id: 6
                start_date:
                  description: ''
                  format: date
                  type: string
                  x-open-allow-strlist: false
                  x-open-allow-strnum: false
                  x-open-field-id: 11
              required:
              - report_type
              - dimensions
              type: object
              x-open-allow-strlist: false
              x-open-allow-strnum: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  code:
                    description: Response code. For the complete list of response codes and descriptions, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097). Will be shown only if it is an error request.
                    format: int64
                    type:
                    - integer
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 4
                  data:
                    description: Returned data. The response for the SDK can be checked in the document for the API given in the description.
                    properties: {}
                    type:
                    - object
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 1
                    x-open-source: $.rpc.output.data
                  message:
                    description: Response message. For details, see [Appendix - Return Codes](https://ads.tiktok.com/marketing_api/docs?id=1737172488964097).
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 3
                  request_id:
                    description: The log ID of a request, which uniquely identifies the request.
                    type:
                    - string
                    - 'null'
                    x-open-allow-strlist: false
                    x-open-field-id: 2
                type: object
                x-open-allow-strlist: false
          description: OK
      summary: null
      tags:
      - Reporting
      x-open-allowlist: {}
      x-open-denylist: {}
      x-open-rules:
        base_rule: null
        extra_rule:
          base_source: []
          http_query_source: []
          http_source:
          - children:
            - name: service_type
              required: true
              source: $.http.body.service_type
              type: string
            - name: report_type
              required: true
              source: $.http.body.report_type
              type: string
            - name: data_level
              required: false
              source: $.http.body.data_level
              type: string
            - children:
              - type: string
              is_expand: true
              name: dimensions
              required: false
              source: $.http.body.dimensions[]
              sub_type: string
              type: array
            - children:
              - type: string
              is_expand: true
              name: metrics
              required: false
              source: $.http.body.metrics[]
              sub_type: string
              type: array
            - name: start_date
              required: false
              source: $.http.body.start_date
              type: string
            - name: end_date
              required: false
              source: $.http.body.end_date
              type: string
            - name: query_lifetime
              required: false
              source: $.http.body.query_lifetime
              type: boolean
            - name: order_type
              required: false
              source: $.http.body.order_type
              type: number
            - name: order_field
              required: false
              source: $.http.body.order_field
              type: string
            - children:
              - children:
                - name: field_name
                  required: false
                  source: $.http.body.filtering[].field_name
                  type: string
                - name: filter_type
                  required: false
                  source: $.http.body.filtering[].filter_type
                  type: number
                - name: filter_value
                  required: false
                  source: $.http.body.filtering[].filter_value
                  type: string
                is_expand: true
                type: object
              is_expand: true
              name: filtering
              required: false
              sub_type: object
              type: array
            - name: advertiser_id
              required: false
              source: $.http.body.advertiser_id
              type: number
            - children:
              - type: number
              is_expand: false
              name: advertiser_ids
              required: false
              source: $.http.body.advertiser_ids[]
              sub_type: number
              type: array
            is_expand: true
            name: common_report_query
            required: true
            type: object
          - name: enable_report_title_translation
            required: false
            source: $.http.body.enable_report_title_translation
            type: boolean
          - name: output_format
            required: false
            source: $.http.body.output_format
            type: string
          - name: file_name
            required: false
            source: $.http.body.file_name
            type: string
        plugins:
          after_response: []
          before_request: []
        request_query_rule: null
        request_rule:
          common_report_query:
            advertiser_id: $.http.body.advertiser_id
            advertiser_ids: $.http.body.advertiser_ids[]
            data_level: $.http.body.data_level
            dimensions: $.http.body.dimensions[]
            end_date: $.http.body.end_date
            filtering[][]:
            - field_name: $.http.body.filtering[].field_name
              filter_type: $.http.body.filtering[].filter_type
              filter_value: $.http.body.filtering[].filter_value
            metrics: $.http.body.metrics[]
            order_field: $.http.body.order_field
            order_type: $.http.body.order_type
            query_lifetime: $.http.body.query_lifetime
            report_type: $.http.body.report_type
            service_type: $.http.body.service_type
            start_date: $.http.body.start_date
          enable_report_title_translation: $.http.body.enable_report_title_translation
          file_name: $.http.body.file_name
          output_format: $.http.body.output_format
        response_cookie: []
        response_header: []
        response_rule:
          task_id: $.rpc.output.task_id
      x-open-scene-labels: []
      x-open-settings:
        pop_resp_nullvalue: false
  /smart_plus/material_report/breakdown/:
    get:
      operationId: Smart_plus Material_report Breakdown
      parameters:
      - description: ''
        in: query
        name: advertiser_id
        required: true
        schema:
          type: string
          x-open-allow-strlist: false
          x-open-allow-strnum: false
          x-open-convert:
          - int64(%s)
          x-open-source: $.http.query.advertiser_id
        x-open-field-id: 1
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-enum:
                  enum_package_expired: false
                  enum_package_id: 1836027313923138
                  enum_package_name: SppReportDimension
                  enums:
                  - description: ''
                    is_valid: false
                    key: ad_id
                    value: creative_id
                  - description: ''
                    is_valid: true
                    key: ad_text_entity_id
                    value: text_entity_id
                  - description: ''
                    is_valid: false
                    key: adgroup_id
                    value: ad_id
                  - description: ''
                    is_valid: false
                    key: advertiser_id
                    value: advertiser_id
                  - description: ''
                    is_valid: true
                    key: call_to_action_entity_id
                    value: call_to_action_entity_id
                  - description: ''
                    is_valid: false
                    key: campaign_id
                    value: campaign_id
                  - description: ''
                    is_valid: true
                    key: interactive_add_on_entity_id
                    value: add_on_entity_id
                  - description: ''
                    is_valid: true
                    key: main_material_id
                    value: main_entity_id
                  - description: ''
                    is_valid: true
                    key: stat_time_day
                    value: stat_time_day
                  - description: ''
                    is_valid: true
                    key: stat_time_hour
                    value: stat_time_hour
                  - description: ''
                    is_valid: true
                    key: stat_time_month
                    value: stat_time_month
                  - description: ''
                    is_valid: true
                    key: stat_time_week
                    value: stat_time_week
                  key_format: string
                  strict: true
                  use_part: true
                  validate_only: false
                  value_format: string
              maxItems: 5
              minItems: 1
              type: array
              x-open-allow-strlist: false
              x-open-allow-strnum: false
              x-open-source: $.http.query.dimensions
        description: ''
        in: query
        name: dimensions
        required: true
        x-open-field-id: 2
      - content:
          application/json:
            schema:
              items:
                type: string
                x-open-allow-strlist: false
                x-open-allow-strnum: false
                x-open-enum:
                  enum_package_expired: false
                  enum_package_id: 1837121920475138
                  enum_package_name: SppReportMetrics
                  enums:
                  - description: ''
                    is_valid: true
                    key: achieve_level
                    value: time_attr_update_level
                  - description: ''
                    is_valid: true
                    key: achieve_level_rate
                    value: time_attr_update_level_per_install
                  - description: ''
                    is_valid: true
                    key: ad_impression_ad_revenue_day0
                    value: time_attr_total_repetitive_active_pay_value_d0_iaa
                  - description: ''
                    is_valid: true
                    key: ad_impression_ad_revenue_day2
                    value: time_attr_total_repetitive_active_pay_value_d2_iaa
                  - description: ''
                    is_valid: true
                    key: ad_impression_ad_revenue_roas_day0
                    value: time_attr_active_pay_roas_d0_iaa
                  - description: ''
                    is_valid: true
                    key: ad_impression_ad_revenue_roas_day2
                    value: time_attr_active_pay_roas_d2_iaa
                  - description: ''
                    is_valid: true
                    key: ad_impression_ad_revenue_roas_day6
                    value: time_attr_active_pay_roas_d6_iaa
                  - description: ''
                    is_valid: false
                    key: ad_material_id
                    value: ad_material_draft_id
                  - description: ''
                    is_valid: true
                    key: add_billing
                    value: time_attr_add_billing_count
                  - description: ''
                    is_valid: true
                    key: add_billing_rate
                    value: time_attr_add_billing_count_per_click
                  - description: ''
                    is_valid: true
                    key: add_payment_info
                    value: time_attr_add_payment_info
                  - description: ''
                    is_valid: true
                    key: add_payment_info_rate
                    value: time_attr_add_payment_info_per_install
                  - description: ''
                    is_valid: true
                    key: add_to_wishlist
                    value: time_attr_add_to_wishlist
                  - description: ''
                    is_valid: true
                    key: add_to_wishlist_rate
                    value: time_attr_add_to_wishlist_per_install
                  - description: ''
                    is_valid: true
                    key: ads_impression_events
                    value: time_attr_repetitive_ad_revenue
                  - description: ''
                    is_valid: true
                    key: anchor_click_rate
                    value: anchor_click_rate
                  - description: ''
                    is_valid: true
                    key: anchor_clicks
                    value: anchor_click_count
                  - description: ''
                    is_valid: true
                    key: app_event_add_to_cart
                    value: time_attr_in_app_cart
                  - description: ''
                    is_valid: true
                    key: app_event_add_to_cart_rate
                    value: time_attr_in_app_cart_per_install
                  - description: ''
                    is_valid: true
                    key: app_install
                    value: time_attr_active
                  - description: ''
                    is_valid: true
                    key: average_video_play
                    value: average_video_play
                  - description: ''
                    is_valid: true
                    key: avg_value_per_pageview
                    value: time_attr_total_page_view_value
                  - description: ''
                    is_valid: true
                    key: button_click
                    value: time_attr_button_standardized
                  - description: ''
                    is_valid: true
                    key: button_click_rate
                    value: time_attr_button_standardized_per_click
                  - description: ''
                    is_valid: true
                    key: checkout
                    value: time_attr_in_app_order
                  - description: ''
                    is_valid: true
                    key: checkout_rate
                    value: time_attr_in_app_order_per_install
                  - description: ''
                    is_valid: true
                    key: clicks
                    value: click_cnt
                  - description: ''
                    is_valid: true
                    key: clicks_on_hashtag_challenge
                    value: ies_challenge_click
                  - description: ''
                    is_valid: true
                    key: clicks_on_music_disc
                    value: ies_music_click
                  - description: ''
                    is_valid: true
                    key: comments
                    value: ad_comment
                  - description: ''
                    is_valid: true
                    key: complete_payment
                    value: time_attr_shopping
                  - description: ''
                    is_valid: true
                    key: complete_payment_rate
                    value: time_attr_shopping_per_click
                  - description: ''
                    is_valid: true
                    key: complete_payment_roas
                    value: time_attr_shopping_roas
                  - description: ''
                    is_valid: true
                    key: complete_tutorial
                    value: time_attr_complete_tutorial
                  - description: ''
                    is_valid: true
                    key: complete_tutorial_rate
                    value: time_attr_complete_tutorial_per_install
                  - description: ''
                    is_valid: true
                    key: conversion
                    value: time_attr_convert_cnt
                  - description: ''
                    is_valid: true
                    key: conversion_rate_v2
                    value: time_attr_conversion_rate_imp
                  - description: ''
                    is_valid: true
                    key: cost_per_achieve_level
                    value: time_attr_cost_per_update_level
                  - description: ''
                    is_valid: true
                    key: cost_per_add_billing
                    value: time_attr_cost_per_add_billing_count
                  - description: ''
                    is_valid: true
                    key: cost_per_add_payment_info
                    value: time_attr_cost_per_add_payment_info
                  - description: ''
                    is_valid: true
                    key: cost_per_add_to_wishlist
                    value: time_attr_cost_per_add_to_wishlist
                  - description: ''
                    is_valid: true
                    key: cost_per_app_event_add_to_cart
                    value: time_attr_cost_per_in_app_cart
                  - description: ''
                    is_valid: true
                    key: cost_per_app_install
                    value: time_attr_active_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_button_click
                    value: time_attr_cost_per_button_standardized
                  - description: ''
                    is_valid: true
                    key: cost_per_checkout
                    value: time_attr_cost_per_in_app_order
                  - description: ''
                    is_valid: true
                    key: cost_per_complete_payment
                    value: time_attr_cost_per_shopping
                  - description: ''
                    is_valid: true
                    key: cost_per_complete_tutorial
                    value: time_attr_cost_per_complete_tutorial
                  - description: ''
                    is_valid: true
                    key: cost_per_conversion
                    value: time_attr_conversion_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_create_gamerole
                    value: time_attr_cost_per_create_gamerole
                  - description: ''
                    is_valid: true
                    key: cost_per_create_group
                    value: time_attr_cost_per_create_group
                  - description: ''
                    is_valid: true
                    key: cost_per_cta_app_install
                    value: time_attr_active_click_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_cta_conversion
                    value: time_attr_convert_cnt_click_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_cta_purchase
                    value: time_attr_active_pay_click_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_cta_registration
                    value: time_attr_active_register_click_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_custom_app_event
                    value: time_attr_cost_per_repetitive_app_customized_events
                  - description: ''
                    is_valid: true
                    key: cost_per_custom_page_event
                    value: time_attr_cost_per_web_customized_events
                  - description: ''
                    is_valid: true
                    key: cost_per_day7_retention
                    value: time_attr_cost_per_retention_7d
                  - description: ''
                    is_valid: true
                    key: cost_per_download_start
                    value: time_attr_cost_per_download_start
                  - description: ''
                    is_valid: true
                    key: cost_per_engaged_view_through_conversion
                    value: time_attr_convert_cnt_ev_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_evta_app_install
                    value: time_attr_active_ev_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_evta_payments_completed
                    value: time_attr_shopping_ev_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_evta_purchase
                    value: time_attr_active_pay_ev_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_evta_registration
                    value: time_attr_active_register_ev_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_form
                    value: time_attr_cost_per_form
                  - description: ''
                    is_valid: true
                    key: cost_per_in_app_ad_click
                    value: time_attr_cost_per_in_app_ad_click
                  - description: ''
                    is_valid: true
                    key: cost_per_in_app_ad_impr
                    value: time_attr_cost_per_in_app_ad_impr
                  - description: ''
                    is_valid: true
                    key: cost_per_initiate_checkout
                    value: time_attr_cost_per_initiate_checkout_count
                  - description: ''
                    is_valid: true
                    key: cost_per_ix_button_click_count
                    value: cost_per_ix_button_click_count
                  - description: ''
                    is_valid: true
                    key: cost_per_ix_page_view_count
                    value: cost_per_ix_page_view_count
                  - description: ''
                    is_valid: true
                    key: cost_per_ix_product_click_count
                    value: cost_per_ix_product_click_count
                  - description: ''
                    is_valid: true
                    key: cost_per_join_group
                    value: time_attr_cost_per_join_group
                  - description: ''
                    is_valid: true
                    key: cost_per_landing_page_view
                    value: time_attr_cost_per_web_landing_page_view
                  - description: ''
                    is_valid: true
                    key: cost_per_launch_app
                    value: time_attr_cost_per_launch_app
                  - description: ''
                    is_valid: true
                    key: cost_per_loan_apply
                    value: time_attr_cost_per_loan_apply
                  - description: ''
                    is_valid: true
                    key: cost_per_loan_credit
                    value: time_attr_cost_per_loan_credit
                  - description: ''
                    is_valid: true
                    key: cost_per_loan_disbursement
                    value: time_attr_cost_per_loan_completion
                  - description: ''
                    is_valid: true
                    key: cost_per_login
                    value: time_attr_cost_per_login
                  - description: ''
                    is_valid: true
                    key: cost_per_next_day_open
                    value: time_attr_cost_per_next_day_open
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_add_payment_info_event
                    value: time_attr_cost_per_offline_add_billing
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_add_to_cart_event
                    value: time_attr_cost_per_offline_add_to_cart
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_add_to_wishlist_event
                    value: time_attr_cost_per_offline_add_to_wishlist
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_click_button_event
                    value: time_attr_cost_per_offline_button
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_complete_registration_event
                    value: time_attr_cost_per_offline_register
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_contact_event
                    value: time_attr_cost_per_offline_contact
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_download_event
                    value: time_attr_cost_per_offline_download_start
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_form_event
                    value: time_attr_cost_per_offline_submit_form
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_initiate_checkout_event
                    value: time_attr_cost_per_offline_initiate_checkout
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_place_order_event
                    value: time_attr_cost_per_offline_order
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_search_event
                    value: time_attr_cost_per_offline_search
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_shopping_event
                    value: time_attr_cost_per_offline_shopping
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_subscribe_event
                    value: time_attr_cost_per_offline_subscribe
                  - description: ''
                    is_valid: true
                    key: cost_per_offline_view_content_event
                    value: time_attr_cost_per_offline_detail
                  - description: ''
                    is_valid: true
                    key: cost_per_on_web_add_to_wishlist
                    value: time_attr_cost_per_on_web_add_to_wishlist
                  - description: ''
                    is_valid: true
                    key: cost_per_on_web_order
                    value: time_attr_cost_per_on_web_order
                  - description: ''
                    is_valid: true
                    key: cost_per_on_web_subscribe
                    value: time_attr_cost_per_on_web_subscribe
                  - description: ''
                    is_valid: true
                    key: cost_per_online_consult
                    value: time_attr_cost_per_consult_standardized
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_add_billing
                    value: time_attr_cost_per_onsite_add_billing
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_add_to_wishlist
                    value: time_attr_cost_per_onsite_add_to_wishlist
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_destination_visit
                    value: time_attr_cost_per_onsite_destination_visit
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_download_start
                    value: time_attr_cost_per_onsite_download_start
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_form
                    value: time_attr_cost_per_onsite_form
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_initiate_checkout_count
                    value: time_attr_cost_per_onsite_initiate_checkout_count
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_on_web_cart
                    value: time_attr_cost_per_onsite_on_web_cart
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_on_web_detail
                    value: time_attr_cost_per_onsite_on_web_detail
                  - description: ''
                    is_valid: true
                    key: cost_per_onsite_shopping
                    value: time_attr_cost_per_onsite_shopping
                  - description: ''
                    is_valid: true
                    key: cost_per_page_content_view_event
                    value: time_attr_cost_per_on_web_detail_standardized
                  - description: ''
                    is_valid: true
                    key: cost_per_page_event_search
                    value: time_attr_cost_per_search_count
                  - description: ''
                    is_valid: true
                    key: cost_per_pageview
                    value: time_attr_cost_per_page_view
                  - description: ''
                    is_valid: true
                    key: cost_per_purchase
                    value: time_attr_active_pay_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_ratings
                    value: time_attr_cost_per_rate
                  - description: ''
                    is_valid: true
                    key: cost_per_registration
                    value: time_attr_active_register_cost
                  - description: ''
                    is_valid: true
                    key: cost_per_sales_lead
                    value: time_attr_cost_per_sales_lead
                  - description: ''
                    is_valid: true
                    key: cost_per_search
                    value: time_attr_cost_per_search
                  - description: ''
                    is_valid: true
                    key: cost_per_spend_credits
                    value: time_attr_cost_per_spend_credits
                  - description: ''
                    is_valid: true
                    key: cost_per_start_trial
                    value: time_attr_cost_per_start_trial
                  - description: ''
                    is_valid: true
                    key: cost_per_subscribe
                    value: time_attr_cost_per_subscribe
                  - description: ''
                    is_valid: true
                    key: cost_per_total_achieve_level
[...]
